{% extends 'admin/change_list.html' %}
{% load static %}
{% load filters %}
{% load admin_static admin_list admin_urls suit_list suit_tags %}

{% block title %} Product {% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
<script type="text/javascript">
	function cancelOrder(item, order_id)
	{
		if (confirm('Do you want to cancel this order?'))
		{
			var url = "{% url 'admin:cancel_order' %}"+order_id;
			// console.log(url);

			$.get(url, function(response) {
				// console.log(response);
				if (response == 'true') {
					item.closest('tr').remove();
				} else {
					alert('Some error occurred!');
				}
			});
		}
	}
</script>
{% endblock %}

{% block content %}

<h1>Place Orders</h1>

<table class="table">
	<thead>
		<tr>
			<th>Sl.</th>
			<th>Product Title</th>
			<th>Quantity</th>
			<th>Unit Price</th>
			<th>Total Price</th>
			<th>Customer Email</th>
			<th>Customer Contact No.</th>
			<th>Customer Alternative Contact No.</th>
			<th>Delivery Address</th>
			<th>Remarks</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for place_order in place_orders %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>
				<ol>
					{% for item in place_order|get_order_item %}
					<li>{{ item.product_title }}</li>
					{% endfor %}
				</ol>
			</td>
			<td>
				<ol>
					{% for item in place_order|get_order_item %}
					<li>{{ item.quantity }}</li>
					{% endfor %}
				</ol>
			</td>
			<td>
				<ol>
					{% for item in place_order|get_order_item %}
					<li>৳ {{ item.unit_price }}</li>
					{% endfor %}
				</ol>
			</td>
			<td>
				<ol>
					{% for item in place_order|get_order_item %}
					<li>৳ {{ item.get_total }}</li>
					{% endfor %}
				</ol>
			</td>
			<td>{{ place_order.email }}</td>
			<td>{{ place_order.mobile_number }}</td>
			<td>{{ place_order.alternative_mobile_number }}</td>
			<td>{{ place_order.address }}</td>
			<td>{{ place_order.remarks }}</td>
			<td>
				<button onclick="cancelOrder($(this), {{ place_order.order.id }})" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if place_orders.has_other_pages %}
<div class="below-actions">
	<div class="pagination-block">
		<div class="pagination">
			<ul>
				{% if place_orders.has_previous %}
					<li><a href="?p={{ place_orders.previous_page_number }}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in place_orders.paginator.page_range %}
					{% if place_orders.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
						<li><a href="?p={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if place_orders.has_next %}
					<li><a href="?p={{ place_orders.next_page_number }}">&raquo;</a></li>
				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endif %}

{% endblock content %}
