{% extends 'base.html' %}
{% load static %}

{% block title %}
	{# {{ page_title | title }} #}
	Login
{% endblock %}

{% block body %}
<!-- Main Content -->
<div class="page-container" id="PageContainer">
	<main class="main-content" id="MainContent" role="main">
		<section class="customers-layout login-layout">
			<div class="customers-wrapper">
				<div class="container">
					<div class="row">
						<div class="customers-inner">
							<div class="customers-content">
								<div id="login" class="customers">
									<h2>Login</h2>
									<form action="{% url 'accounts:login' %}" method="post">
										{% csrf_token %}
										{% if form.errors %}
										<p class="text-danger">Username or Password Not Correct!</p>
										{% endif %}
										<div class="clearfix large_form form-item">
											<input type="email" value="" placeholder="Email Address" name="username" id="customer_email" class="text" required>
										</div>
										<div class="clearfix large_form form-item form-password">
											<input type="password" value="" placeholder="Password" name="password" id="customer_password" class="text" size="16" required>
											<span class="cs-icon icon-eye"></span>
										</div>
										<div class="clearfix">
											<a class="note" href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
										</div>
										<div class="action_bottom">
											<button type="submit" class="_btn">Login</button>
										</div>
									</form>
									<div class="create-account">
										<h4>You don't have account?</h4>
										<a href="{% url 'accounts:signup' %}" class="_btn">Create account now</a>
									</div>
								</div>
								<div id="recover-password" style="display:none;" class="customers">
									<h2>Reset Password</h2>
									<p class="note">We will send you an email to reset your password.</p>
									<form method="post" action="#" accept-charset="UTF-8">
										<div class="clearfix large_form form-item">
											<input type="email" value="" placeholder="Email Address" size="30" name="email" id="recover-email" class="text">
										</div>
										<div class="action_bottom clearfix">
											<input class="_btn" type="submit" value="Login">
										</div>
										<div class="clearfix note_text_group">
											or<span class="note_link"><a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</div>

<script type="text/javascript">
	function showRecoverPasswordForm() {
		document.getElementById('recover-password').style.display = 'block';
		document.getElementById('login').style.display = 'none';
	}

	function hideRecoverPasswordForm() {
		document.getElementById('recover-password').style.display = 'none';
		document.getElementById('login').style.display = 'block';
	}

	if (window.location.hash == '#recover') {
		showRecoverPasswordForm();
	}
</script>

{% endblock %}
