{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ page_title | title }}
{% endblock %}

{% block body %}
<!-- Main Content -->
<div class="page-container" id="PageContainer">
	<main class="main-content" id="MainContent" role="main">
		<section class="customers-layout register-layout">
			<div class="customers-wrapper">
				<div class="container">
					<div class="row">
						<div class="customers-inner">
							<div class="customers-content">
								<div id="register" class="customers">
									<h2>Register</h2>
									<form action="{% url 'accounts:signup' %}" method="post">
										{% csrf_token %}
										<div class="clearfix large_form form-item">
											<input type="text" value="" placeholder="First Name" name="first_name" class="text" size="30">
										</div>
										<div class="clearfix large_form form-item">
											<input type="text" value="" placeholder="Last Name" name="last_name" class="text" size="30">
										</div>
										<div class="clearfix large_form form-item">
											<input type="email" value="" placeholder="Email" name="email" class="text" size="30">
										</div>
										<div class="clearfix large_form form-password form-item">
											<input type="password" value="" placeholder="Password" name="password" class="password text" size="30">
											<span class="cs-icon icon-eye"></span>
										</div>
										<div class="action_bottom">
											<button type="submit" class="_btn">Create</button>
											<span class="note"><span class="or">or</span><a href="{% url 'home' %}">Return to Store</a></span>
										</div>
									</form>
								</div>
								<!-- #register -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</div>
{% endblock %}
