{% extends 'admin/change_form.html' %}
{% load static %}
{% load admin_static admin_list admin_urls suit_list suit_tags %}

{% block title %} Product Stock {% endblock title %}

{% block extrahead %}

{# page stylesheet #}
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}" />
<style type="text/css">.hidden{display: none;}</style>

{# page javascript #}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

        $('.add-another').click(function(e) {
            e.preventDefault();
            showAddAnotherPopup(this);
        });

        $('.related-lookup').click(function(e) {
            e.preventDefault();
            showRelatedObjectLookupPopup(this);
        });

        $('form#stock-adjust :input[type!=button][type!=submit]:visible:enabled:first').focus()
    });

    function getStockProduct() 
    {
        var product_id = $('#product').val();
        var category_id = $('#category').val();
        var sub_category_id = $('#sub-category').val();
        var sub_sub_category_id = $('#sub-sub-category').val();
        var url = "{% url 'admin:get_stock_product' %}";
        var data = {
            product_id: product_id,
            category_id: category_id,
            sub_category_id: sub_category_id,
            sub_sub_category_id: sub_sub_category_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };
        // console.log(data);

        $.post(url, data, function(response) {
            var quantity    = 0;
            var unit_price  = 0;
            var total_price = 0;

            var stock_product = JSON.parse(response);
            // console.log(stock_product);

            if (stock_product.length != 0) 
            {
                var quantity = stock_product[0].fields.quantity;
                var unit_price = stock_product[0].fields.unit_price;
                var total_price = stock_product[0].fields.total_price;
            }

            $('#quantity').val(quantity);
            $('#unit-price').val(unit_price);
            $('#total-price').val(total_price);
        });
    }

    function getSubCategory(item, category_id) 
    {
        var url = "{% url 'admin:get_sub_category' %}";
        var data = {
            category_id: category_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        $.post(url, data, function(response) {
            // console.log(response);
            $('#sub-category').html(response);
        });

        getStockProduct();
    }

    function getSubSubCategory(item, sub_category_id) 
    {
        var url = "{% url 'admin:get_sub_sub_category' %}";
        var data = {
            sub_category_id: sub_category_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        $.post(url, data, function(response) {
            // console.log(response);
            $('#sub-sub-category').html(response);
        });

        getStockProduct();
    }

    function secureUnitPrice(item) 
    {
        if (item.val() == 'decrease_quantity') {
            $('#unit-price').attr('readonly', true);
        } else {
            $('#unit-price').removeAttr('readonly');
        }
    }

    function calculateTotalPrice() 
    {
        var quantity = Math.abs($('#quantity').val());
        var unit_price = Math.abs($('#unit-price').val());
        var total_price = (quantity * unit_price).toFixed(2);
        
        $('#quantity').val(quantity);
        $('#unit-price').val(unit_price);
        $('#total-price').val(total_price);
    }
    
</script>

{% endblock %}

{% block content %}

<div id="content" class="colM row-fluid">

    <h2 class="content-title">Adjust Product Stock</h2>

    <div id="content-main" class="inner-two-columns">

        <form class="form-horizontal" id="stock-adjust" action="{% url 'admin:adjust_stock' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="inner-right-column fixed" style="top: 10px;">
                <div class="box save-box">
                    <div class="submit-row clearfix">
                        <button type="submit" class="btn btn-high btn-info" name="_save">Save</button>
                        <button type="submit" name="_continue" class=" btn btn-high">Save and continue editing</button>
                        <button type="submit" name="_addanother" class="btn">Save and add another</button>
                    </div>
                </div>
            </div>
            
            <div class="inner-center-column">

                <div class="tab-content tab-content-main">

                    <fieldset class="module aligned first">

                        <div class="control-group form-row field-product">
                            <div>
                                <div class="control-label">
                                    <label for="product">Product:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="product" name="product" required="" onchange="getStockProduct();">
                                            <option value="">Select An Option</option>
                                            {% for products in products %}
                                            <option value="{{ products.id }}">{{ products.title | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-product_category">
                            <div>
                                <div class="control-label">
                                    <label for="category">Product Category:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="category" name="product_category" required="" onchange="getSubCategory($(this), this.options[this.selectedIndex].value);">
                                            <option value="">Select An Option</option>
                                            {% for category in product_categories %}
                                            <option value="{{ category.id }}">{{ category.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="control-group form-row field-product_sub_category">
                            <div>
                                <div class="control-label">
                                    <label for="sub-category">Product Sub Category:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="sub-category" name="product_sub_category" onchange="getSubSubCategory($(this), this.options[this.selectedIndex].value);">
                                            <option value="">Select An Option</option>
                                            {% for sub_category in product_sub_categories %}
                                            <option value="{{ sub_category.id }}">{{ sub_category.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="control-group form-row field-product_sub_sub_category"> 
                            <div>
                                <div class="control-label">
                                    <label for="sub-sub-category">Product Sub Sub Category:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="sub-sub-category" name="product_sub_sub_category" onchange="getStockProduct();">
                                            <option value="">Select An Option</option>
                                            {% for sub_sub_category in product_sub_sub_categories %}
                                            <option value="{{ sub_sub_category.id }}">{{ sub_sub_category.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-adjust_type">
                            <div>
                                <div class="control-label">
                                    <label for="adjust-type">Product Adjust Type:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="adjust-type" name="adjust_type" required="" onchange="secureUnitPrice($(this));">
                                            <option value="">Select An Option</option>
                                            <option value="increase_quantity">Increase Quantity</option>
                                            <option value="decrease_quantity">Decrease Quantity</option>
                                            <option value="adjust_unit_price">Adjust Unit Price</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-quantity">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="quantity">Product Quantity:</label>
                                </div>
                                <div class="controls">
                                    <input type="number" name="quantity" class="vIntegerField" id="quantity" required="" value="0" min="0" onchange="calculateTotalPrice();">
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-unit_price">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="unit-price">Product Unit price:</label>
                                </div>
                                <div class="controls">
                                    <input type="number" name="unit_price" id="unit-price" required="" value="0" min="0" onchange="calculateTotalPrice();">
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-total_price">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="total-price">Product Total price:</label>
                                </div>
                                <div class="controls">
                                    <input type="number" name="total_price" id="total-price" required="" value="0" readonly="">
                                </div>
                            </div>
                        </div>

                    </fieldset>

                </div>

            </div>

        </form>

    </div>

</div>

{% endblock content %}
