{% extends 'admin/change_list.html' %}
{% load static %}
{% load filters %}
{% load admin_static admin_list admin_urls suit_list suit_tags %}

{% block title %} Product {% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
{% endblock %}

{% block content %}

<h1>Products</h1>

<div class="toolbar-content clearfix">
	{% block object-tools %}
		<div class="object-tools">
			{% block object-tools-items %}
				{% if has_add_permission %}
					<a href="{% url cl.opts|admin_urlname:'add' %}" class="btn btn-success">
						<i class="icon-plus-sign icon-white"></i> Stock Adjust 
					</a>
				{% endif %}
			{% endblock %}
		</div>
	{% endblock %}
	{% block search %}{% search_form cl %}{% endblock %}
</div>

<table class="table">
	<thead>
		<tr>
			<th>Sl.</th>
			<th>Title</th>
			<th>Category</th>
			<th>Sub-category</th>
			<th>Sub-sub-category</th>
			<th>Quantity</th>
			<th>Unit Price</th>
			<th>Total Price</th>
			<th>Offer Amount (%)</th>
			<th>After Offer Unit Price</th>
			<th>After Offer Total Price</th>
		</tr>
	</thead>
	<tbody>
		{% for stock_product in stock_products %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ stock_product.product.title }}</td>
			<td>{{ stock_product.product_category.name }}</td>
			<td>{{ stock_product.product_sub_category.name }}</td>
			<td>{{ stock_product.product_sub_sub_category.name }}</td>
			<td>{{ stock_product.quantity }}</td>
			<td>{{ stock_product.unit_price }}</td>
			<td>{{ stock_product.total_price }}</td>
			<td>{% if stock_product.offer_amount %} {{ stock_product.offer_amount | floatformat }}% {% endif %}</td>
			<td>{% if stock_product.after_offer_unit_price %} {{ stock_product.after_offer_unit_price }} {% endif %}</td>
			<td>{% if stock_product.after_offer_total_price %} {{ stock_product.after_offer_total_price }} {% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if products.has_other_pages %}
<div class="below-actions">
	<div class="pagination-block">
		<div class="pagination">
			<ul>
				{% if products.has_previous %}
					<li><a href="?p={{ products.previous_page_number }}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in products.paginator.page_range %}
					{% if products.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
						<li><a href="?p={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if products.has_next %}
					<li><a href="?p={{ products.next_page_number }}">&raquo;</a></li>
				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endif %}

{% endblock content %}
