{% extends "admin/base.html" %}
{% load admin_static %}

{% block title %}
  Admin | House Of Faith
{% endblock %}

{% block branding %}
  <h1 id="head">
    <a href="{% url 'admin:index' %}"><img src="{% static "images/HouseOfFaith.png" %}" alt="House Of Faith" height="25" width="50" class="brand_img"> Admin Area</a>
  </h1>
{% endblock %}
