{% extends 'admin/change_form.html' %}
{% load static %}
{% load admin_static admin_list admin_urls suit_list suit_tags %}

{% block title %} Product {% endblock title %}

{% block extrahead %}

{# page stylesheet #}
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}" />
<style type="text/css">.hidden{display: none;}</style>

{# page javascript #}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

        $('.add-another').click(function(e) {
            e.preventDefault();
            showAddAnotherPopup(this);
        });

        $('.related-lookup').click(function(e) {
            e.preventDefault();
            showRelatedObjectLookupPopup(this);
        });

        $('form#edit-product-wise-offer :input[type!=button][type!=submit]:visible:enabled:first').focus()
    });

</script>

{% endblock %}

{% block content %}

<div id="content" class="colM row-fluid">

    <h2 class="content-title">Edit Product Wise Offer</h2>

    <div id="content-main" class="inner-two-columns">

        <form class="form-horizontal" id="edit-product-wise-offer" action="{% url 'admin:update_offer' edit_product_wise_offer.id %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="inner-right-column fixed" style="top: 10px;">
                <div class="box save-box">
                    <div class="submit-row clearfix">
                        <button type="submit" class="btn btn-high btn-info" name="_save">Save</button>
                        <button type="submit" name="_continue" class=" btn btn-high">Save and continue editing</button>
                        <button type="submit" name="_addanother" class="btn">Save and add another</button>
                    </div>
                </div>
            </div>

            <div class="inner-center-column">

                <div class="tab-content tab-content-main">

                    <fieldset class="module aligned first">

                        <div class="control-group form-row field-product_category">
                            <div>
                                <div class="control-label">
                                    <label for="offer">Product Offer:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="offer" name="product_offer" required="">
                                            <option value="">Select An Option</option>
                                            {% for offer in product_offers %}
                                            <option {% if offer.id == edit_product_wise_offer.product_offer_id %} selected {% endif %} value="{{ offer.id }}">{{ offer.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="product">Products:</label>
                                </div>
                                <div class="controls">
                                    <input type="hidden" name="prev_product_id" value="{{ edit_product_wise_offer.product_id }}">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-multiple" id="product" name="product[]" multiple="multiple" required="">
                                            <option value="">Select An Option</option>
                                            {% for product in products %}
                                            <option {% if product.id == edit_product_wise_offer.product_id %} selected {% endif %} value="{{ product.id }}">{{ product.title | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-amount">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="amount">Offer Amount (%):</label>
                                </div>
                                <div class="controls">
                                    <input type="number" name="amount" class="vIntegerField" id="amount" required="" value="{{ edit_product_wise_offer.amount }}" min="0">
                                </div>
                            </div>
                        </div>

                    </fieldset>

                </div>

            </div>

        </form>

    </div>

</div>

{% endblock content %}
