{% extends 'admin/change_list.html' %}
{% load static %}
{% load filters %}
{% load admin_static admin_list admin_urls suit_list suit_tags %}

{% block title %} Product {% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
<script type="text/javascript">
	function remove(item, offer_id, product_id) 
	{
		if (confirm('Do you want to delete this product wise offer ?')) 
		{
			var url = "{% url 'admin:delete_offer' %}";
			var data = {
				offer_id: offer_id,
				product_id: product_id,
				csrfmiddlewaretoken: '{{ csrf_token }}'
			}
			// console.log(data);

			$.post(url, data, function(response) {
				// console.log(response);
				if (response == 'true') {
					item.closest('tr').remove();
				} else {
					alert('Some error occurred!');
				}
			});
		}
	}
</script>
{% endblock %}

{% block content %}

<h1>Product Wise Offers</h1>

<div class="toolbar-content clearfix">
	{% block object-tools %}
		<div class="object-tools">
			{% block object-tools-items %}
				{% if has_add_permission %}
					<a href="{% url cl.opts|admin_urlname:'add' %}" class="btn btn-success">
						<i class="icon-plus-sign icon-white"></i> Add Product Wise Offer
					</a>
				{% endif %}
			{% endblock %}
		</div>
	{% endblock %}
	{% block search %}{% search_form cl %}{% endblock %}
</div>

<table class="table">
	<thead>
		<tr>
			<th>Sl.</th>
			<th>Product Offer</th>
			<th>Products</th>
			<th>Amount (%)</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for product_wise_offer in product_wise_offers %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ product_wise_offer.product_offer.name }}</td>
			<td><span class="label label-success">{{ product_wise_offer.product.title }}</span></td>
			<td>{{ product_wise_offer.amount | floatformat }}%</td>
			<td>
				<a href="{% url 'admin:edit_offer' product_wise_offer.id %}" class="btn btn-success"><i class="fa fa-edit"></i></a>
				<button onclick="remove($(this), {{ product_wise_offer.id }}, {{ product_wise_offer.product_id }})" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if product_wise_offers.has_other_pages %}
<div class="below-actions">
	<div class="pagination-block">
		<div class="pagination">
			<ul>
				{% if product_wise_offers.has_previous %}
					<li><a href="?p={{ product_wise_offers.previous_page_number }}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in product_wise_offers.paginator.page_range %}
					{% if product_wise_offers.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
						<li><a href="?p={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if product_wise_offers.has_next %}
					<li><a href="?p={{ product_wise_offers.next_page_number }}">&raquo;</a></li>
				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endif %}

{% endblock content %}
