{% extends 'admin/change_form.html' %}
{% load static %}
{% load admin_static admin_list admin_urls suit_list suit_tags %}

{% block title %} Product {% endblock title %}

{% block extrahead %}

{# page stylesheet #}
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}" />
<style type="text/css">.hidden{display: none;}</style>

{# page javascript #}
<script type="text/javascript" src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

        $('.add-another').click(function(e) {
            e.preventDefault();
            showAddAnotherPopup(this);
        });

        $('.related-lookup').click(function(e) {
            e.preventDefault();
            showRelatedObjectLookupPopup(this);
        });

        $('form#add_product :input[type!=button][type!=submit]:visible:enabled:first').focus()
    });

    function slugify(item)
    {
        var slug = item.val().toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
        // console.log(slug);
        $('#slug').val(slug);
    }

    function addProductImg(item)
    {
        var extra_product_img = item.closest('.product-img').clone(true);
        extra_product_img.find('i').removeClass('hidden');
        extra_product_img.find('.control-label').html('');
        extra_product_img.find('input, select').each(function() {
            $(this).val('');
        });

        item.closest('fieldset').find('.extra-product-img').append(extra_product_img);
    }

    function removeProductImg(item)
    {
        item.closest('.product-img').remove();
    }

    function getSubCategory(item, category_id)
    {
        var url = "{% url 'admin:get_sub_category' %}";
        var data = {
            category_id: category_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        $.post(url, data, function(response) {
            // console.log(response);
            $('#sub-category').html(response);
        });
    }

    function getSubSubCategory(item, sub_category_id)
    {
        var url = "{% url 'admin:get_sub_sub_category' %}";
        var data = {
            sub_category_id: sub_category_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        $.post(url, data, function(response) {
            // console.log(response);
            $('#sub-sub-category').html(response);
        });
    }

    function calculateTotalPrice() 
    {
        var quantity = Math.abs($('#quantity').val());
        var unit_price = Math.abs($('#unit-price').val());
        var total_price = (quantity * unit_price).toFixed(2);
        
        $('#quantity').val(quantity);
        $('#unit-price').val(unit_price);
        $('#total-price').val(total_price);
    }

</script>

{% endblock %}

{% block content %}

<div id="content" class="colM row-fluid">

    <h2 class="content-title">Add Product</h2>

    <div id="content-main" class="inner-two-columns">

        <form class="form-horizontal" id="add_product" action="{% url 'admin:save_product' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="inner-right-column fixed" style="top: 10px;">
                <div class="box save-box">
                    <div class="submit-row clearfix">
                        <button type="submit" class="btn btn-high btn-info" name="_save">Save</button>
                        <button type="submit" name="_continue" class=" btn btn-high">Save and continue editing</button>
                        <button type="submit" name="_addanother" class="btn">Save and add another</button>
                    </div>
                </div>
            </div>

            <div class="inner-center-column">

                <div class="tab-content tab-content-main">

                    <fieldset class="module aligned first">

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="title">Product Title:</label>
                                </div>
                                <div class="controls">
                                    <input type="text" class="vTextField" id="title" name="title" required="" placeholder="Enter product title" onkeyup="slugify($(this))">
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="slug">Product Slug:</label>
                                </div>
                                <div class="controls">
                                    <input type="text" class="vTextField" id="slug" name="slug" required="" placeholder="Enter product slug" value="">
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-product_category">
                            <div>
                                <div class="control-label">
                                    <label for="category">Product Category:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="category" name="product_category" required="" onchange="getSubCategory($(this), this.options[this.selectedIndex].value);">
                                            <option value="">Select An Option</option>
                                            {% for category in product_categories %}
                                            <option value="{{ category.id }}">{{ category.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-product_sub_category">
                            <div>
                                <div class="control-label">
                                    <label for="sub-category">Product Sub Category:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="sub-category" name="product_sub_category" onchange="getSubSubCategory($(this), this.options[this.selectedIndex].value);">
                                            <option value="">Select An Option</option>
                                            {% for sub_category in product_sub_categories %}
                                            <option value="{{ sub_category.id }}">{{ sub_category.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-product_sub_sub_category">
                            <div>
                                <div class="control-label">
                                    <label for="sub-sub-category">Product Sub Sub Category:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="sub-sub-category" name="product_sub_sub_category">
                                            <option value="">Select An Option</option>
                                            {% for sub_sub_category in product_sub_sub_categories %}
                                            <option value="{{ sub_sub_category.id }}">{{ sub_sub_category.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="size">Product Size:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-multiple" id="size" name="size[]" multiple="multiple">
                                            <option value="">Select An Option</option>
                                            {% for size in product_sizes %}
                                            <option value="{{ size.id }}">{{ size.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="color">Product Color:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-multiple" id="color" name="color[]" multiple="multiple">
                                            <option value="">Select An Option</option>
                                            {% for color in product_colors %}
                                            <option value="{{ color.id }}">{{ color.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row product-img">
                            <div>
                                <div class="control-label">
                                    <label class="required">Product Image:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <input type="file" class="form-control" name="image[]" />
                                        <i class="fa fa-plus btn btn-success" onclick="addProductImg($(this));"></i>
                                        <i class="fa fa-minus btn btn-danger hidden" onclick="removeProductImg($(this));"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="extra-product-img"></div>

                        <div class="control-group form-row field-quantity">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="quantity">Product Quantity:</label>
                                </div>
                                <div class="controls">
                                    <input type="number" name="quantity" class="vIntegerField" id="quantity" required="" value="0" min="0" onchange="calculateTotalPrice();">
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-unit_price">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="unit-price">Product Unit price:</label>
                                </div>
                                <div class="controls">
                                    <input type="number" name="unit_price" id="unit-price" required="" value="0" min="0" onchange="calculateTotalPrice();">
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-total_price">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="total-price">Product Total price:</label>
                                </div>
                                <div class="controls">
                                    <input type="number" name="total_price" id="total-price" required="" value="0" readonly="">
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="description">Product Description:</label>
                                </div>
                                <div class="controls">
                                    <textarea class="form-control" rows="5" id="description" name="description" required=""></textarea>
                                    <script>CKEDITOR.replace('description', {width: 600});</script>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="status">Product Status:</label>
                                </div>
                                <div class="controls">
                                    <label><input type="checkbox" id="status" name="status"> Available</label>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                </div>

            </div>

        </form>

    </div>

</div>

{% endblock content %}
