{% extends 'admin/change_form.html' %}
{% load static %}
{% load admin_static admin_list admin_urls suit_list suit_tags %}

{% block title %} Product {% endblock title %}

{% block extrahead %}

{# page stylesheet #}
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}" />
<style type="text/css">.hidden{display: none;}</style>

{# page javascript #}
<script type="text/javascript" src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript">

	$(document).ready(function() {
        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

    	$('.add-another').click(function(e) {
        	e.preventDefault();
            showAddAnotherPopup(this);
        });

        $('.related-lookup').click(function(e) {
        	e.preventDefault();
            showRelatedObjectLookupPopup(this);
        });

        $('form#edit_product :input[type!=button][type!=submit]:visible:enabled:first').focus()
    });

	function slugify(item)
	{
		var slug = item.val().toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
		// console.log(slug);
		$('#slug').val(slug);
	}

	function addProductImg(item)
	{
		var extra_product_img = $('#product-img').clone(true);
		extra_product_img.removeClass('hidden');
		extra_product_img.find('i').removeClass('hidden');
		extra_product_img.find('.control-label').html('');
		extra_product_img.find('input, select').each(function() {
			$(this).val('');
		});

		item.closest('fieldset').find('.extra-product-img').append(extra_product_img);
	}

	var edit_images = [];
	function removeProductImg(item, img_id)
	{
		var edit_image = $('#edit-image').clone(true);

		edit_images.push(img_id);
		edit_images.forEach(function(item) {
			edit_image.val(item);
		});

		item.closest('fieldset').find('.extra-product-img').append(edit_image);
		item.closest('.product-img').remove();
	}

	function getSubCategory(item, category_id) 
	{
		var url = "{% url 'admin:get_sub_category' %}";
    	var data = {
    		category_id: category_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
    	};

    	$.post(url, data, function(response) {
    		// console.log(response);
    		$('#sub-category').html(response);
    	});
    }

    function getSubSubCategory(item, sub_category_id) 
	{
		var url = "{% url 'admin:get_sub_sub_category' %}";
    	var data = {
    		sub_category_id: sub_category_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
    	};

    	$.post(url, data, function(response) {
    		// console.log(response);
    		$('#sub-sub-category').html(response);
    	});
    }
    
</script>

{% endblock %}

{% block content %}

<div id="content" class="colM row-fluid">

    <h2 class="content-title">Update Product</h2>

    <div id="content-main" class="inner-two-columns">

        <form class="form-horizontal" id="edit_product" action="{% url 'admin:update_product' product.id %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="inner-right-column fixed" style="top: 10px;">
                <div class="box save-box">
                    <div class="submit-row clearfix">
                        <button type="submit" class="btn btn-high btn-info" name="_save">Save</button>
                        <button type="submit" name="_continue" class=" btn btn-high">Save and continue editing</button>
                        <button type="submit" name="_addanother" class="btn">Save and add another</button>
                    </div>
                </div>
            </div>
            
            <div class="inner-center-column">

                <div class="tab-content tab-content-main">

                    <fieldset class="module aligned first">

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="title">Product Title:</label>
                                </div>
                                <div class="controls">
                                    <input type="text" class="vTextField" id="title" name="title" required="" value="{{ product.title }}" onkeyup="slugify($(this))">
                                </div>
                            </div>
                        </div>
                        
                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="slug">Product Slug:</label>
                                </div>
                                <div class="controls">
                                    <input type="text" class="vTextField" id="slug" name="slug" required="" value="{{ product.slug }}">
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row field-product_category">
                            <div>
                                <div class="control-label">
                                    <label for="category">Product Category:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="category" name="product_category" required="" onchange="getSubCategory($(this), this.options[this.selectedIndex].value);">
                                            <option value="">Select An Option</option>
                                            {% for category in product_categories %}
                                            <option {% if product.product_category.id == category.id %} selected {% endif %} value="{{ category.id }}">{{ category.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="control-group form-row field-product_sub_category">
                            <div>
                                <div class="control-label">
                                    <label for="sub-category">Product Sub Category:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="sub-category" name="product_sub_category" onchange="getSubSubCategory($(this), this.options[this.selectedIndex].value);">
                                            <option value="">Select An Option</option>
                                            {% for sub_category in product_sub_categories %}
                                            <option {% if product.product_sub_category.id == sub_category.id %} selected {% endif %} value="{{ sub_category.id }}">{{ sub_category.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="control-group form-row field-product_sub_sub_category"> 
                            <div>
                                <div class="control-label">
                                    <label for="sub-sub-category">Product Sub Sub Category:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-single" id="sub-sub-category" name="product_sub_sub_category">
                                            <option value="">Select An Option</option>
                                            {% for sub_sub_category in product_sub_sub_categories %}
                                            <option {% if product.product_sub_sub_category.id == sub_sub_category.id %} selected {% endif %} value="{{ sub_sub_category.id }}">{{ sub_sub_category.name | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="size">Product Size:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-multiple" id="size" name="size[]" multiple="multiple">
                                            <option value="">Select An Option</option>
                                            {% for product_size in product_sizes %}
                                            {% if product_wise_sizes %}
                                            <option {% if product_size.id in product_wise_sizes %} selected {% endif %} value="{{ product_size.id }}">{{ product_size.name | capfirst }}</option>
                                            {% else %}
                                            <option value="{{ product_size.id }}">{{ product_size.name | capfirst }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="color">Product Color:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <select class="js-example-basic-multiple" id="color" name="color[]" multiple="multiple">
                                            <option value="">Select An Option</option>
                                            {% for product_color in product_colors %}
                                            {% if product_wise_colors %}
                                            <option {% if product_color.id in product_wise_colors %} selected {% endif %} value="{{ product_color.id }}">{{ product_color.name | capfirst }}</option>
                                            {% else %}
                                            <option value="{{ product_color.id }}">{{ product_color.name | capfirst }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% if product_images %}
                        {% for product_image in product_images %}
                        <div class="control-group form-row product-img">
                            <div>
                                <div class="control-label">
                                    <label class="required">Product Image:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <img src="{{ product_image.image_path }}" alt="product image" width="50" height="50" />
                                        <i class="fa fa-plus btn btn-success" onclick="addProductImg($(this));"></i>
                                        <i class="fa fa-minus btn btn-danger" onclick="removeProductImg($(this), {{ product_image.id }});"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="control-group form-row product-img">
                            <div>
                                <div class="control-label">
                                    <label class="required">Product Image:</label>
                                </div>
                                <div class="controls">
                                    <div class="related-widget-wrapper">
                                        <input type="file" class="form-control" name="image[]" />
                                        <i class="fa fa-plus btn btn-success" onclick="addProductImg($(this));"></i>
                                        <i class="fa fa-minus btn btn-danger hidden" onclick="removeProductImg($(this));"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="extra-product-img"></div>

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="description">Product Description:</label>
                                </div>
                                <div class="controls">
                                    <textarea class="form-control" rows="5" id="description" name="description" required="">{{ product.description }}</textarea>
                                    <script>CKEDITOR.replace('description', {width: 600});</script>
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-row">
                            <div>
                                <div class="control-label">
                                    <label class="required" for="status">Product Status:</label>
                                </div>
                                <div class="controls">
                                    <label><input type="checkbox" {% if product.status == True %} checked {% endif %} id="status" name="status"> Available</label>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                </div>

            </div>

        </form>

    </div>

</div>

<input type="hidden" class="form-control" id="edit-image" name="edit_image[]" value="" />

<div class="hidden control-group form-row product-img" id="product-img">
    <div>
        <div class="control-label">
            <label class="required">Product Image:</label>
        </div>
        <div class="controls">
            <div class="related-widget-wrapper">
                <input type="file" class="form-control" name="image[]" />
                <i class="fa fa-plus btn btn-success" onclick="addProductImg($(this));"></i>
                <i class="fa fa-minus btn btn-danger hidden" onclick="removeProductImg($(this));"></i>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
