{% extends 'admin/change_list.html' %}
{% load static %}
{% load filters %}
{% load admin_static admin_list admin_urls suit_list suit_tags %}

{% block title %} Product {% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
<script type="text/javascript">
	function changeProductStockStatus(item, product_id) 
	{
		var status = true;
		if (!item.is(':checked')) {
		    var status = false;
		}

		if (confirm('Do you want to change the product stock status ?')) 
		{
			var url = "{% url 'admin:change_product_stock_status' %}";
			var data = {
				id: product_id, 
				status: status, 
				csrfmiddlewaretoken: '{{ csrf_token }}'
			};
			// console.log(data);

			$.post(url, data, function(response) {
				// console.log(response);
				if (response == 'true') {
					alert('Product stock status has been changed successfully!');
				} else {
					alert('Some error occurred!');
				}
			});
		}
	}

	function deleteProduct(item, product_id) 
	{
		if (confirm('Do you want to delete this product?')) 
		{
			var url = "{% url 'admin:delete_product' %}"+product_id;
			// console.log(url);

			$.get(url, function(response) {
				// console.log(response);
				if (response == 'true') {
					item.closest('tr').remove();
				} else {
					alert('Some error occurred!');
				}
			});
		}
	}
</script>
{% endblock %}

{% block content %}

<h1>Products</h1>

<div class="toolbar-content clearfix">
	{% block object-tools %}
		<div class="object-tools">
			{% block object-tools-items %}
				{% if has_add_permission %}
					<a href="{% url cl.opts|admin_urlname:'add' %}" class="btn btn-success">
						<i class="icon-plus-sign icon-white"></i> Add Product
					</a>
				{% endif %}
			{% endblock %}
		</div>
	{% endblock %}
	{% block search %}{% search_form cl %}{% endblock %}
</div>

<table class="table">
	<thead>
		<tr>
			<th>Sl.</th>
			<th>Product Title</th>
			<th>Product Category</th>
			<th>Product Sub-category</th>
			<th>Product Sub-sub-category</th>
			<th>Product Size</th>
			<th>Product Color</th>
			<th>Product Image</th>
			<th>Product Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ product.title }}</td>
			<td>{{ product.product_category.name }}</td>
			<td>{{ product.product_sub_category.name }}</td>
			<td>{{ product.product_sub_sub_category.name }}</td>
			<td>{{ product.id|get_product_wise_size }}</td>
			<td>{{ product.id|get_product_wise_color }}</td>
			<td>{{ product.id|get_product_image }}</td>
			<td><label><input type="checkbox" name="status" {% if product.status == True %} checked {% endif %} onclick="changeProductStockStatus($(this), {{ product.id }})"> Available</label></td>
			<td>
				<a href="{% url 'admin:edit_product' product.id %}" class="btn btn-success"><i class="fa fa-edit"></i></a>
				<button onclick="deleteProduct($(this), {{ product.id }})" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if products.has_other_pages %}
<div class="below-actions">
	<div class="pagination-block">
		<div class="pagination">
			<ul>
				{% if products.has_previous %}
					<li><a href="?p={{ products.previous_page_number }}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in products.paginator.page_range %}
					{% if products.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
						<li><a href="?p={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if products.has_next %}
					<li><a href="?p={{ products.next_page_number }}">&raquo;</a></li>
				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endif %}

{% endblock content %}
