{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block body %}

{% if messages %}
  {% for msg in messages %}
  <div class="alert {{msg.level_tag}} alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{msg.message}}
  </div>
  {% endfor %}
{% endif %}

<!-- Main Content -->
<div class="page-container" id="PageContainer">
  <main class="main-content" id="MainContent" role="main">
    <section class="heading-content">
      <div class="heading-wrapper">
        <div class="container">
          <div class="row">
            <div class="page-heading-inner heading-group">
              <div class="breadcrumb-group">
                <h1 class="hidden">Your Cart</h1>
                <div class="breadcrumb clearfix">
                  <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index-2.html" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
                </span>
                <span class="arrow-space"></span>
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a href="cart.html" title="Your Cart" itemprop="url"><span itemprop="title">Your Cart</span></a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cart-content">
    <div class="cart-wrapper">
      <div class="container">
        <div class="row">
          <div id="shopify-section-cart-template" class="shopify-section">
            <div class="cart-inner">
              <div id="cart">
                <div class="cart-form">
                  <form action="{% url 'products:placeOrder' %}" method="post" id="cartform">
                    {% csrf_token %}
                    <input type="hidden" size="4" name="order_id" value="{{ orders.id }}">
                    <table>
                      <thead>
                        <tr>
                          <th class="image" colspan="2">Product</th>
                          <th class="price">Price</th>
                          <th class="qty">Quantity</th>
                          <th class="total">Total</th>
                          <th class="remove">Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for order_item in orders.order_item.all %}
                        <tr>
                          <td class="image">
                            <div class="product_image">
                              <a href="product.html">
                                {{ order_item.product.id|get_product_image }}
                              </a>
                            </div>
                          </td>
                          <td class="image-info">
                            <div class="product_name">
                              <a href="product.html">
                                {{ order_item.product.title }}
                              </a>
                              <div class="group_mobile">
                                <span class="price-mobile"><span class="money" data-currency-usd="$20.00">{{ order_item.unit_price }}</span></span>
                                <div class="quantity-mobile">
                                  <div class="quantity-wrapper">
                                    <div class="wrapper">
                                      <span class="quantity-title">Quantity</span>
                                      <input type="text" size="4" value="1" class="tc item-quantity-mobile">
                                    </div>
                                    <!--End wrapper-->
                                  </div>
                                </div>
                              </div>
                              <div class="group_mobile">
                                <div class="remove-mobile">
                                  <a href="#" class="cart"><span class="lnr lnr-trash"></span></a>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="price"><span class="money" data-currency-usd="$20.00">{{ order_item.unit_price }}</span></td>
                          <td class="qty">
                            <div class="quantity-wrapper">
                              <div class="wrapper">
                                <input type="hidden" size="4" name="product_id[]" value="{{ order_item.product.id }}">
                                <input type="text" size="4" name="quantity[]" value="{{ order_item.quantity }}" onchange="calculateTotal($(this))" class="tc item-quantity">
                              </div>
                              <!--End wrapper-->
                            </div>
                            <!--End quantily wrapper-->
                          </td>
                          <td class="total title-1"><span class="money item-total-price" data-currency-usd="$20.00">{{ order_item.get_total }}</span></td>
                          <td class="remove"><a href="#" class="cart" onclick="removeFromCart($(this), {{ order_item.id }})"><span class="lnr lnr-trash"></span></a></td>
                        </tr>
                        {% endfor %}
                        <tr class="summary">
                          <td class="total_label" colspan="5">Subtotal</td>
                          <td class="price" colspan="1"><span class="total"><strong><span class="money" data-currency-usd="$90.00" id="total"></span></strong>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="group-button">
                    <a href="{% url 'home' %}" class="_btn">Continue Shopping</a>
                    <div class="group_btn_right">
                      <input type="button" class="_btn clearAllCart" value="Clear all">
                    </div>
                  </div>
                  <div class="group-checkout-input">
                    <div class="shipping-calculator col-sm-6 col-xs-12 ">
                      <div id="shipping-calculator">
                        <h3>Get shipping estimates</h3>
                        <div class="group_form">
                          <div class="form-item">
                            <label for="email">Email Address</label>
                            <input type="email" id="email" name="email" required>
                          </div>
                          <div class="form-item">
                            <label for="phone">Phone No.</label>
                            <input type="text" id="phone" name="phone" required>
                          </div>
                          <div class="form-item">
                            <label for="alternative_phone">Alternative Phone No.</label>
                            <input type="text" id="alternative_phone" name="alternative_phone" required>
                          </div>
                          <div class="form-item">
                            <label for="address">Delivery Address</label>
                            <textarea id="address" name="address" placeholder="Enter your place order address here..." required></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="checkout-buttons col-sm-6 col-xs-12">
                      <div class="note-content group_form">
                        <div class="form-item">
                          <label for="remarks">Add special instructions for your order</label>
                          <textarea id="remarks" name="remarks" placeholder="Enter text here..."></textarea>
                        </div>
                      </div>
                      <div class="checkout-content">
                        <div class="buttons clearfix">
                          <input type="submit" id="checkout" class="_btn" name="checkout" value="Check Out">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
          <script>
          $(window).ready(function($) {
            $(".quantity-mobile input").change(function() {
              var qty = $(this).val();
              $(this).parents('tr').find('.item-quantity').val(qty);
            });
          });

          $(document).ready(function () {
            calculateGrandTotal();
          });

          function calculateGrandTotal()
          {
            // the value of sum needs to be reset for each row, so it has to be set inside the row loop
            var sum = 0
            // iterate through each row in the table
            $('tr').each(function () {
                // find the item-total-price elements in the current row and sum it
                var money = $(this).find('.item-total-price').text();
                if (!isNaN(money) && money.length !== 0) {
                  sum += parseFloat(money);
                }
            });
            // set the value of currents rows sum to the item-total-price element in the current row
            $('#total').html(sum);
          }

          function removeFromCart(item, order_item_id)
          {
             var url = "{% url 'products:removeFromCart' %}";
             var data = {
              order_item_id: order_item_id
            }

            $.get(url, data, function(response) {
                item.closest('tr').remove();
                calculateGrandTotal();
            });
          }

          function calculateTotal(item)
          {
            var quantity = item.val();
            var price = item.closest('tr').find('.price').text();
            var total_price = quantity * price;
            item.closest('tr').find('.item-total-price').html(total_price);

            calculateGrandTotal();
          }
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
</div>
{% endblock %}
