{% extends "base.html" %}
{% load static %}

{% block title %}
{% if menu_title_c %} {{ menu_title_c }} {% endif %}
{% if menu_title_sc %} - {{ menu_title_sc }} {% endif %}
{% if menu_title_ssc %} - {{ menu_title_ssc }} {% endif %}
| {{ mother_title | title }}
{% endblock %}

{% block body %}
<!-- Main Content -->
<div class="page-container" id="PageContainer">
	<main class="main-content" id="MainContent" role="main">
		<section class="heading-content">
			<div class="heading-wrapper">
				<div class="container">
					<div class="row">
						<div class="page-heading-inner heading-group">
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
									<span>
										<a href="{% url 'home' %}" title="{{ mother_title | title }}" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
									</span>
									{% if menu_title_c %}
									<span class="arrow-space"></span>
									<span>
										{% if menu_title_sc %}
										<a href="{% url 'products:productView' request.session.category_slug %}" title="{{ menu_title_c }}" itemprop="url"><span itemprop="title">{{ menu_title_c }}</span></a>
										{% else %}
										<a title="{{ menu_title_c }}" itemprop="url"><span itemprop="title">{{ menu_title_c }}</span></a>
										{% endif %}
									</span>

									{% if menu_title_sc %}
									<span class="arrow-space"></span>
									<span>
										{% if menu_title_ssc %}
										<a href="{% url 'products:productView' request.session.category_slug request.session.sub_category_slug %}" title="{{ menu_title_sc }}" itemprop="url"><span itemprop="title">{{ menu_title_sc }}</span></a>
										{% else %}
										<a title="{{ menu_title_sc }}" itemprop="url"><span itemprop="title">{{ menu_title_sc }}</span></a>
										{% endif %}
									</span>

									{% if menu_title_ssc %}
									<span class="arrow-space"></span>
									<span>
										<a title="{{ menu_title_ssc }}" itemprop="url"><span itemprop="title">{{ menu_title_ssc }}</span></a>
									</span>
									{% endif %}
									{% endif %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="collection-layout">
			<div class="collection-wrapper">
				<div class="container">
					<div class="row">
						<div id="shopify-section-collection-template" class="shopify-section">
							<div class="collection-inner collection-sidebar">
								<!-- Tags loading -->
								<div id="tags-load" style="display:none;"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
								<div id="collection">
									<div class="clearfix">
										<div class="collection-toolbar _mobile col-sm-9">
											<a href="collections.html" class="collection-banner-top">
												<img src="assets/images/collections_banner_top.jpg" alt="image product" title="">
											</a>
											<div class="group_toolbar">
												<div class="group-left">
													<div class="filter-mobile">
														<a href="javascript:void(0)" class="filter-icon">
															<span class="cs-icon icon-filter"></span>
														</a>
													</div>
													<!-- Sort by -->
													<div class="sortBy">
														<div class="dropdown-toggle" data-toggle="dropdown">
															<span class="toolbar-title">Sort by</span>
															<button class="sortButton">
																<span class="name">Featured</span><i class="fa fa-caret-down"></i>
															</button>
															<i class="sub-dropdown1"></i>
															<i class="sub-dropdown"></i>
														</div>
														<div class="sortBox control-container dropdown-menu">
															<ul class="sortForm list-unstyled option-set text-left list-styled" data-option-key="sortBy">
																<li class="sort manual"><a href="collections.html">Featured</a></li>
																<li class="sort price-ascending"><a href="collections.html">Price, low to high</a></li>
																<li class="sort price-descending"><a href="collections.html">Price, high to low</a></li>
																<li class="sort title-ascending"><a href="collections.html">Alphabetically, A-Z</a></li>
																<li class="sort title-descending"><a href="collections.html">Alphabetically, Z-A</a></li>
																<li class="sort created-ascending"><a href="collections.html">Date, old to new</a></li>
																<li class="sort created-descending"><a href="collections.html">Date, new to old</a></li>
																<li class="sort best-selling"><a href="collections.html">Best Selling</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="collection-content">
										<!-- Left Sidebar -->
										{% include 'products/left_sidebar.html' %}
										<div class="collection-mainarea  col-sm-9 clearfix">
											<div class="collection-toolbar _desktop">
												{% if request.session.sub_sub_category_slug %}
												<a href="#" class="collection-banner-top">
													<img src="{% static 'images/collections_banner_tops-(1).png' %}" alt="image product" title="">
												</a>
												{% elif request.session.sub_category_slug %}
												<a href="#" class="collection-banner-top">
													<img src="{% static 'images/collections_banner_tops-(3).png' %}" alt="image product" title="">
												</a>
												{% else %}
												<a href="#" class="collection-banner-top">
													<img src="{% static 'images/collections_banner_tops-(2).png' %}" alt="image product" title="">
												</a>
												{% endif %}
												<div class="group_toolbar">
													<div class="group-left">
														<div class="filter-mobile">
															<a href="javascript:void(0)" class="filter-icon">
																<span class="cs-icon icon-filter"></span>
															</a>
														</div>
														<!-- Sort by -->
														<div class="sortBy">
															<div class="dropdown-toggle" data-toggle="dropdown">
																<span class="toolbar-title">Sort by</span>
																<button class="sortButton">
																	<span class="name">Featured</span><i class="fa fa-caret-down"></i>
																</button>
																<i class="sub-dropdown1"></i>
																<i class="sub-dropdown"></i>
															</div>
															<div class="sortBox control-container dropdown-menu">
																<ul class="sortForm list-unstyled option-set text-left list-styled" data-option-key="sortBy">
																	<li class="sort manual"><a href="collections.html">Featured</a></li>
																	<li class="sort price-ascending"><a href="collections.html">Price, low to high</a></li>
																	<li class="sort price-descending"><a href="collections.html">Price, high to low</a></li>
																	<li class="sort title-ascending"><a href="collections.html">Alphabetically, A-Z</a></li>
																	<li class="sort title-descending"><a href="collections.html">Alphabetically, Z-A</a></li>
																	<li class="sort created-ascending"><a href="collections.html">Date, old to new</a></li>
																	<li class="sort created-descending"><a href="collections.html">Date, new to old</a></li>
																	<li class="sort best-selling"><a href="collections.html">Best Selling</a></li>
																</ul>
															</div>
														</div>
													</div>
													<!-- View as -->
													<div class="grid_list">
														<ul class="list-inline option-set hidden-xs" data-option-key="layoutMode">
															<li data-option-value="fitRows" id="goGrid" class="active goAction" data-toggle="tooltip" data-placement="top" title="" data-original-title="Grid">
																<i class="icon-small icon-small-grid"></i>
															</li>
															<li data-option-value="straightDown" id="goList" class="goAction" data-toggle="tooltip" data-placement="top" title="" data-original-title="List">
																<i class="icon-small icon-small-list"></i>
															</li>
														</ul>
													</div>
												</div>
											</div>
											{% if products %}
											<div class="collection-items clearfix">
												<div class="products">
													{% for product in products %}
													<div class="product-item col-sm-4">
														<div class="product product-circle">
															<div class="row-left">
																<a href="{% url 'products:productDetailView' product.slug %}" class="hoverBorder container_item">
																	<div class="hoverBorderWrapper">
																		<img src="{{ product.product_image.first.image_path }}" class="img-responsive front" alt="Product Image">
																		<div class="mask"></div>
																	</div>
																</a>
																{% if product.product_offer.all %}
																{% for product_offer in product.product_offer.all %}
																<div class="product-label">
																	<div class="label-element deal-label">
																		<span>{{ product_offer.product_offer.firstWord }}</span>
																	</div>
																	<div class="label-element hotting-label">
																		<span>{{ product_offer.amount | floatformat }}%</span>
																	</div>
																</div>
																{% endfor %}
																{% endif %}
																<div class="hover-mask grid-mode">
																	<div class="group-mask">
																		<div class="inner-mask">
																			<div class="group-actionbutton">
																				<ul class="quickview-wishlist-wrapper">
																					<li class="wishlist">
																						<a title="Add To Wishlist" onclick="addToWishlist($(this), '{{ product.slug }}');"><span class="cs-icon icon-heart"></span></a>
																					</li>
																					<li class="quickview hidden-xs hidden-sm">
																						<div class="product-ajax-cart">
																							<span class="overlay_mask"></span>
																							<div class="quick_shop">
																								<a onclick="getProduct($(this), '{{ product.slug }}');"><span class="cs-icon icon-eye"></span></a>
																							</div>
																						</div>
																					</li>
																				</ul>
																			</div>
																			<form action="javascript:void(0);" method="post" onsubmit="addToCart($(this))">
																              	<div class="effect-ajax-cart">
																	                <input type="hidden" value="{% if user.is_authenticated %} {{ user.id }} {% endif %}" id="user_id">
																	                <input type="hidden" value="{{ product.id }}" id="product_id">
																	                <input type="hidden" value="1" id="quantity">
																	                <button class="_btn add-to-cart" data-parent=".parent-fly" type="submit" name="add" title="Add To Cart"><span class="cs-icon icon-cart"></span>Add to cart</button>
																              	</div>
																            </form>
																		</div>
																		<!--inner-mask-->
																	</div>
																	<!--Group mask-->
																</div>
															</div>
															<div class="row-right animMix">
																<div class="grid-mode">
																	<div class="rating-star">
															          	<span class="spr-badge" data-rating="5.0">
																            <span class="spr-starrating spr-badge-starrating">
																	            <i class="spr-icon spr-icon-star" style=""></i>
																	            <i class="spr-icon spr-icon-star" style=""></i>
																	            <i class="spr-icon spr-icon-star" style=""></i>
																	            <i class="spr-icon spr-icon-star" style=""></i>
																	            <i class="spr-icon spr-icon-star" style=""></i>
																            </span>
																            <span class="spr-badge-caption">1 review</span>
															          	</span>
															        </div>
																	<div class="product-title"><a class="title-5" href="{% url 'products:productDetailView' product.slug %}">{{ product.title }}</a></div>
																	<div class="product-price">
																		{% if product.product_offer.all %}
																		<span class="price_sale">
																			<span class="money" data-currency-usd="{{ product.stock_product.first.after_offer_unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.after_offer_unit_price }}</span>
																		</span>
																		<del class="price_compare">
																			<span class="money" data-currency-usd="{{ product.stock_product.first.unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.unit_price }}</span>
																		</del>
																		{% else %}
																		<span class="price_sale">
																			<span class="money" data-currency-usd="{{ product.stock_product.first.unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.unit_price }}</span>
																		</span>
																		{% endif %}
																	</div>
																</div>
																<div class="list-mode hide">
																	<div class="list-collection-left">
																		<div class="group">
																            <div class="product-title"><a class="title-5" href="{% url 'products:productDetailView' product.slug %}">{{ product.title }}</a></div>
																            <div class="rating-star">
																              	<span class="spr-badge" data-rating="5.0">
																	                <span class="spr-starrating spr-badge-starrating">
																		                <i class="spr-icon spr-icon-star" style=""></i>
																		                <i class="spr-icon spr-icon-star" style=""></i>
																		                <i class="spr-icon spr-icon-star" style=""></i>
																		                <i class="spr-icon spr-icon-star" style=""></i>
																		                <i class="spr-icon spr-icon-star" style=""></i>
																	                </span>
																	                <span class="spr-badge-caption">1 review</span>
																              	</span>
																            </div>
																         </div>
																		<div class="product-price">
																			{% if product.product_offer.all %}
																			<span class="price_sale">
																				<span class="money" data-currency-usd="{{ product.stock_product.first.after_offer_unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.after_offer_unit_price }}</span>
																			</span>
																			<del class="price_compare">
																				<span class="money" data-currency-usd="{{ product.stock_product.first.unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.unit_price }}</span>
																			</del>
																			{% else %}
																			<span class="price_sale">
																				<span class="money" data-currency-usd="{{ product.stock_product.first.unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.unit_price }}</span>
																			</span>
																			{% endif %}
																		</div>
																	</div>
																	<div class="list-collection-right">
															          	<div class="product-description">{{ product.description | safe }}</div>
															          	<div class="group-actionbutton">
																            <form class="product-addtocart" action="javascripts:void(0);" method="post">
																	            <div class="effect-ajax-cart">
																	            	<input type="hidden" name="quantity" value="1">
																	            	<button class="_btn add-to-cart" data-parent=".parent-fly" type="submit" name="add" title="Add To Cart">Add to cart</button>
																	            </div>
																            </form>
																            <ul class="quickview-wishlist-wrapper">
																              	<li class="wishlist">
																	                <a title="Add To Wishlist" class="wishlist wishlist-cheese-burger-1" data-wishlisthandle="cheese-burger-1">
																	                  	<span class="cs-icon icon-heart" title="Wishlist"></span>
																	                </a>
																              	</li>
																              	<li class="product-quickview quickview hidden-xs hidden-sm">
																	                <div class="product-ajax-cart ">
																	                  	<span class="overlay_mask"></span>
																	                  	<div data-handle="cheese-burger-1" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
																		                    <a class="quick-view">
																		                      	<span class="cs-icon icon-eye" title="Quick View"></span>
																		                    </a>
																	                  	</div>
																	                </div>
																              	</li>
																            </ul>
															          	</div>
															        </div>
																</div>
															</div>
														</div>
													</div>
													{% endfor %}
												</div>
											</div>
											<div class="collection-bottom-toolbar">
												<div class="product-pagination col-sm-6">
													<div class="pagination_group">
														{% if products.has_other_pages %}
														<ul class="pagination pagination-collection">
															{% if products.has_previous %}
															<li class="prev">
																<a href="?page={{ products.previous_page_number }}">Prev</a>
															</li>
															{% else %}
															<li class="disabled">
																<a>Prev</a>
															</li>
															{% endif %}

															{% for i in products.paginator.page_range %}
															{% if products.number == i %}
															<li class="active">
																<a>{{ i }}</a>
															</li>
															{% else %}
															<li>
																<a href="?page={{ i }}">{{ i }}</a>
															</li>
															{% endif %}
															{% endfor %}

															{% if products.has_next %}
															<li class="next">
																<a href="?page={{ products.next_page_number }}">Next</a>
															</li>
															{% else %}
															<li class="disabled">
																<a>Next</a>
															</li>
															{% endif %}
														</ul>
														{% endif %}
													</div>
												</div>
											</div>
											{% else %}
											<div class="collection-bottom-toolbar">
												<div class="col-sm-10">
													<h4 style="color: red;">Sorry, no product available in stock in this category now !!</h4>
												</div>
											</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">

	function addToWishlist(item, product_slug) {
		var url = "{% url 'products:addToWishlist' %}";

        var data = {
            product_slug: product_slug,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }

        // console.log(data);

        $.post(url, data, function(response) {
            // var product = JSON.parse(response);
            // console.log(product);

            // load modal data
            $('#modal-wishlist-body').html(response);

            // show modal
            $('#modal-wishlist').modal('show');
        });
	}

	function getProduct(item, product_slug)
	{
		var url = "{% url 'products:getProduct' %}";

        var data = {
            product_slug: product_slug,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }

        // console.log(data);

        $.post(url, data, function(response) {
            // var product = JSON.parse(response);
            // console.log(product);

            // load modal data
            $('#quick-shop-modal-body').html(response);

            // show modal
            $('#quick-shop-modal').modal('show');
        });
	}

	function maxQtyCheck(item)
	{
		var qty = parseInt(item.val());
		var max_qty = parseInt($('#max-quantity').val());

		if (qty > max_qty)
		{
			alert('Sorry, limit exceeded!');
			item.val(max_qty);
		}
	}

	function addToCart(item)
	{
        var user_id = item.find('#user_id').val();
        var product_id = item.find('#product_id').val();
        var quantity = item.find('#quantity').val();
        var url = "{% url 'products:addToCart' %}";

        var data = {
        	user_id: user_id,
        	product_id: product_id,
        	quantity: quantity,
        	csrfmiddlewaretoken: '{{ csrf_token }}'
        }

		$.post(url, data, function(response) {
			console.log(response);
		});
    }

</script>

{% endblock %}
