{% load static %}

<style type="text/css">
	.list-group-item {
		background-color: #F2E6DC;
	}

	.custom-active {
		color: #AD3B39;
	}
</style>

<div class="collection-leftsidebar sidebar col-sm-3 clearfix">
	<div class="collection-leftsidebar-group">

		<div class="sidebar-block collection-block">
			<h3 class="sidebar-title">
				<span class="text">Categories</span>
				<span class="cs-icon icon-minus"></span>
			</h3>
			<div class="sidebar-content">
				<ul class="list-cat">
					{% for category in categories %}
					<li class="{{ category.slug }}">
						<div class="row">
							<div class="col-sm-10">
								<a href="{% url 'products:productView' category.slug %}">{{ category.name }}</a>
							</div>
							<div class="col-sm-2">
								<span class="cs-icon icon-plus" data-toggle="collapse" data-target="#{{ forloop.counter }}" onclick="categoryToggle($(this))"></span>
							</div>
						</div>
						<ul class="list-cat collapse" id="{{ forloop.counter }}">
							{% for sub_category in category.product_sub_category.all %}
							<li class="{{ sub_category.slug }}">
								<div class="row">
									<div class="col-sm-10">
										<a href="{% url 'products:productView' category.slug sub_category.slug %}">{{ sub_category.name }}</a>
									</div>
									<div class="col-sm-2">
										<span class="cs-icon icon-plus" data-toggle="collapse" data-target="#{{ forloop.parentloop.counter }}-{{ forloop.counter }}" onclick="categoryToggle($(this))"></span>
									</div>
								</div>
								<ul class="list-cat collapse" id="{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
									{% for sub_sub_category in sub_category.product_sub_sub_category.all %}
									<li class="{{ sub_sub_category.slug }}">
										<a href="{% url 'products:productView' category.slug sub_category.slug sub_sub_category.slug %}">{{ sub_sub_category.name }}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="sidebar-block latest-block">
			<h3 class="sidebar-title">
				<span class="text">LATEST</span>
				<span class="cs-icon icon-minus"></span>
			</h3>
			<div class="sidebar-content">
				<div class="latest-inner">

					{% for product in latest_products %}
					{% if product.status == True %}
					<div class="products-item">
						<div class="row-container product-circle">
							<div class="product home_product">
								<div class="row-left">
									<a href="{% url 'products:productDetailView' product.slug %}" class="container_item">
										<div class="hoverBorderWrapper">
											<img src="{{ product.product_image.first.image_path }}" class="not-rotation img-responsive front" alt="Coke">
											<div class="mask"></div>
										</div>
									</a>
								</div>
								<div class="row-right">
									<div class="product-title"><a class="title-5" href="{% url 'products:productDetailView' product.slug %}">{{ product.title }}</a></div>
									<div class="rating-star">
										<span class="spr-badge" data-rating="5.0">
											<span class="spr-starrating spr-badge-starrating">
												<i class="spr-icon spr-icon-star" style=""></i>
												<i class="spr-icon spr-icon-star" style=""></i>
												<i class="spr-icon spr-icon-star" style=""></i>
												<i class="spr-icon spr-icon-star" style=""></i>
												<i class="spr-icon spr-icon-star" style=""></i>
											</span>
											<span class="spr-badge-caption">1 review</span>
										</span>
									</div>
									<div class="product-price">
										{% if product.product_offer.all %}
										<span class="price_sale">
											<span class="money" data-currency-usd="{{ product.stock_product.first.after_offer_unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.after_offer_unit_price }}</span>
										</span>
										<del class="price_compare">
											<span class="money" data-currency-usd="{{ product.stock_product.first.unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.unit_price }}</span>
										</del>
										{% else %}
										<span class="price_sale">
											<span class="money" data-currency-usd="{{ product.stock_product.first.unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.unit_price }}</span>
										</span>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}

				</div>
			</div>
		</div>

		<!-- filter tags group -->
		<div class="sidebar-block filter-block">
			<h3 class="sidebar-title">
				<span class="text">Size</span>
				<span class="cs-icon icon-minus"></span>
			</h3>
			<div class="sidebar-content">
				<ul class="filter-content ">
					{% for size in sizes %}
					<li data-handle="{{ size.name }}">
						<a href="#" title="Narrow selection to products matching tag {{ size.name }}">
							<span class="fe-checkbox"></span>{{ size.name }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="sidebar-block filter-block">
			<h3 class="sidebar-title">
				<span class="text">Price</span>
				<span class="cs-icon icon-minus"></span>
			</h3>
			<div class="sidebar-content">
				<ul class="filter-content ">
					<li data-handle="under-100">
						<a href="#" title="Narrow selection to products matching tag Under $100">
							<span class="fe-checkbox"></span>Under $100
						</a>
					</li>
					<li data-handle="100-200">
						<a href="#" title="Narrow selection to products matching tag $100 - $200">
							<span class="fe-checkbox"></span>$100 - $200
						</a>
					</li>
					<li data-handle="above-200">
						<a href="#" title="Narrow selection to products matching tag Above $200">
							<span class="fe-checkbox"></span>Above $200
						</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

<div class="hidden">
	<input type="hidden" id="category" value="{{ request.session.category_slug }}">
	<input type="hidden" id="sub-category" value="{{ request.session.sub_category_slug }}">
	<input type="hidden" id="sub-sub-category" value="{{ request.session.sub_sub_category_slug }}">
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">

	$(function() {
		var category = '';
		var sub_category = '';
		var sub_sub_category = '';

		category = $('#category').val();
		sub_category = $('#sub-category').val();
		sub_sub_category = $('#sub-sub-category').val();

		if(category) {
			$('.'+category).find('a:first').css('color', '#AD3B39');
		}

		if(sub_category) {
			$('.'+sub_category).closest('ul').addClass('in');
			$('.'+sub_category).find('a:first').css('color', '#AD3B39');
		}

		if(sub_sub_category) {
			$('.'+sub_sub_category).closest('ul').addClass('in');
			$('.'+sub_sub_category).find('a:first').css('color', '#AD3B39');
		}
	});

	function categoryToggle(item)
	{
		item.toggleClass('icon-plus icon-minus');
		// item.closest('li').find('a:first').addClass('custom-active');
		item.closest('li').find('a:first').css('color', '#AD3B39');
	}

</script>
