{% extends "base.html" %}
{% load static %}

{% block title %}
	{{ product_detail.title }}
{% endblock %}

{% block body %}

{# page stylesheet #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

<!-- Main Content -->
<div class="page-container" id="PageContainer">
	<main class="main-content" id="MainContent" role="main">
		<section class="heading-content">
			<div class="heading-wrapper">
				<div class="container">
					<div class="row">
						<div class="page-heading-inner heading-group">
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
									<span>
										<a href="{% url 'home' %}" title="{{ mother_title | title }}" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
									</span>
									{% if product_detail %}
									<span class="arrow-space"></span>
									<span>
										<a title="{{ product_detail.title }}" itemprop="url"><span itemprop="title">{{ product_detail.title }}</span></a>
									</span>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="product-detail-layout">
			<div class="product-detail-wrapper">
				<div class="container">
					<div class="row">
						<div id="shopify-section-product-template" class="shopify-section">
							<div class="product-detail-inner" itemscope="" itemtype="">
								<!-- <meta itemprop="name" content="Extra Crispy">
								<meta itemprop="url" content="./product.html">
								<meta itemprop="image" content="./assets/images/product_10.jpg"> -->
								<div class="product-detail-content col-sm-9">
									<div id="product" class="extra-crispy-1 detail-content">
										<div class="col-md-12 info-detail-pro clearfix">

											<div class="col-md-6" id="product-image">
												<div id="featuted-image" class="image featured" style="position: static; overflow: visible;">
													<img src="{{ product_detail.product_image.first.image_path }}" class="zoomImg zoom-img" alt="product img">
												</div>
												<div id="featuted-image-mobile" class="image featured-mobile">
													{% for product_image in product_detail.product_image.all %}
													<div class="image-item">
														<a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
															<img src="{{ product_image.image_path }}" alt="product img" data-item="1" />
														</a>
													</div>
													{% endfor %}
												</div>
												<div id="gallery-images" class="thumbs clearfix gallery-images-layout">
													<div class="gallery-images-inner">
														<div class="show-image-load show-load-detail" style="display: none;">
															<div class="show-image-load-inner">
																<i class="fa fa-spinner fa-pulse fa-2x"></i>
															</div>
														</div>
														<div class="slider-3itemsc vertical-image-content">
															{% for product_image in product_detail.product_image.all %}
															<div class="image-vertical image">
																<a href="{{ product_image.image_path }}" class="cloud-zoom-gallery" data-lightbox="photos">
																	<img class="img-fluid" src="{{ product_image.image_path }}" alt="product img">
																</a>
															</div>
															{% endfor %}
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-6" id="product-information">
												<h1 itemprop="name" class="title">{{ product_detail.title }}</h1>
												<div class="rating-content">
													<div class="rating-description">
														<span class="spr-badge" data-rating="5.0">
															<span class="spr-starrating spr-badge-starrating">
																<i class="spr-icon spr-icon-star" style=""></i>
																<i class="spr-icon spr-icon-star" style=""></i>
																<i class="spr-icon spr-icon-star" style=""></i>
																<i class="spr-icon spr-icon-star" style=""></i>
																<i class="spr-icon spr-icon-star" style=""></i>
															</span>
															<span class="spr-badge-caption">1 review</span>
														</span>
														<!-- <span class="review-link"><a href="#review">Write a review</a></span> -->
													</div>
												</div>
												<!-- <script>
													$('.review-link a').click(function(e) {
														e.preventDefault();
														$('html, body').animate({
															scrollTop: $("#tabs-information").offset().top - 120
														}, 800);
														$('.nav-tabs a[href="#review"]').tab('show');
														return false;
													});
												</script> -->
												<form id="add-item-form" action="javascripts:void(0);" method="post" class="variants" onsubmit="addToCart($(this))">
													{% csrf_token %}
													<input type="hidden" value="{% if user.is_authenticated %} {{ user.id }} {% endif %}" id="user_id">

													<input type="hidden" value="{{ product_detail.id }}" id="product_id">

													<div class="product-options " itemprop="offers" itemscope="" itemtype="">
														{% if product_detail.product_wise_size.all %}
														<div class="product-type ">
															<div class="select clearfix">
																<div class="selector-wrapper variant-wrapper-size">
																	<label for="product-select-option-0">Size</label>
																	<select class="single-option-selector" data-option="option1" id="product-select-option-0" required>
																		<option value="">Select Product Size</option>
																		{% for product_wise_size in product_detail.product_wise_size.all %}
																		{% for product_size in product_wise_size.product_size.all %}
																		<option value="{{ product_size.id }}">{{ product_size.name }}</option>
																		{% endfor %}
																		{% endfor %}
																	</select>
																</div>
															</div>
														</div>
														<div class="clearfix">
															<div class="quantity-wrapper">
																<label class="wrapper-title">Qty</label>
																<input type="hidden" id="max-quantity" value="{{ product_detail.stock_product.first.quantity }}">
																<div class="wrapper">
																	<input type="text" class="item-quantity" id="quantity" name="quantity" value="1" maxlength="5" size="5" oninput="maxQtyCheck($(this))">
																	<div class="qty-btn-vertical">
																		<span class="qty-down fa fa-chevron-down" title="Decrease" data-src="#quantity">
																		</span>
																		<span class="qty-up fa fa-chevron-up" title="Increase" data-src="#quantity">
																		</span>
																	</div>
																</div>
															</div>
														</div>
														{% else %}
														<div class="clearfix product-type">
															<div class="quantity-wrapper">
																<label class="wrapper-title">Qty</label>
																<input type="hidden" id="max-quantity" value="{{ product_detail.stock_product.first.quantity }}">
																<div class="wrapper">
																	<input type="text" class="item-quantity" id="quantity" name="quantity" value="1" maxlength="5" size="5" oninput="maxQtyCheck($(this))">
																	<div class="qty-btn-vertical">
																		<span class="qty-down fa fa-chevron-down" title="Decrease" data-src="#quantity">
																		</span>
																		<span class="qty-up fa fa-chevron-up" title="Increase" data-src="#quantity">
																		</span>
																	</div>
																</div>
															</div>
														</div>
														{% endif %}
														<div class="product-price">
															<h2 class="price" id="price-preview">
																{% if product_detail.product_offer.all %}
																<span class="money" data-currency-usd="{{ product_detail.stock_product.first.after_offer_unit_price }}" data-currency="BDT">৳ {{ product_detail.stock_product.first.after_offer_unit_price }}</span>
																{% else %}
																<span class="money" data-currency-usd="{{ product_detail.stock_product.first.unit_price }}" data-currency="BDT">৳ {{ product_detail.stock_product.first.unit_price }}</span>
																{% endif %}
															</h2>
														</div>
														<div class="purchase-section multiple">
															<div class="purchase">
																<button type="submit" class="_btn add-to-cart" id="add-to-cart" name="add"><span><i class="cs-icon icon-cart"></i>Add to cart</span></button>
																<div id="cart-animation" style="display:none">1</div>
															</div>
														</div>
													</div>
												</form>
												<div class="comWish-content">
													<a title="Add To Wishlist" class="wishlist-extra-crispy-1" href="javascripts:void(0);">
														<span class="icon-small icon-small-heart"></span>
														<span class="_compareWishlist-text">Wishlist</span>
													</a>
													<a title="Send email" class="send-email" href="mailto:contac@yourcompany.com">
														<span class="icon-small icon-small-email"></span>
														<span class="_compareWishlist-text">Send email</span>
													</a>
												</div>
												<div class="supports-fontface">
													<span class="social-title">Share this</span>
													<div class="social-sharing is-clean" data-permalink="https://cs-fastfood.myshopify.com/products/extra-crispy-1">
														<a target="_blank" href="http://www.facebook.com/sharer.php?u=https://cs-fastfood.myshopify.com/products/extra-crispy-1" class="share-facebook">
															<span class="fa fa-facebook"></span>
														</a>
														<a target="_blank" href="http://twitter.com/share?text=Extra%20Crispy&amp;url=https://cs-fastfood.myshopify.com/products/extra-crispy-1" class="share-twitter">
															<span class="fa fa-twitter"></span>
														</a>
														<a target="_blank" href="../../pinterest.com/pin/create/button/indexb5c7.html?url=https://cs-fastfood.myshopify.com/products/extra-crispy-1&amp;media=http://cdn.shopify.com/s/files/1/2487/3424/products/13_1024x1024.jpg?v=1508991313&amp;description=Extra%20Crispy" class="share-pinterest">
															<span class="fa fa-pinterest"></span>
														</a>
														<a target="_blank" href="http://plus.google.com/share?url=https://cs-fastfood.myshopify.com/products/extra-crispy-1" class="share-google">
															<!-- Cannot get Google+ share count with JS yet -->
															<span class="fa fa-google-plus"></span>
														</a>
													</div>
												</div>
											</div>
										</div>

										<!-- You May Also Like -->

										<div id="tabs-information" class="col-md-12 tabs-information">
											<div class="col-md-12 tabs-title">
												<ul class="nav nav-tabs tabs-left sideways">
													<li class="active"><a href="#desc" data-toggle="tab">Description</a></li>
													<li><a href="#review" data-toggle="tab">Reviews</a></li>
													<li><a href="#shipping" data-toggle="tab">Shipping Details</a></li>
													<li><a href="#payment" data-toggle="tab">Payment Info</a></li>
												</ul>
											</div>
											<div class="col-md-12 tabs-content">
												<div class="tab-content">
													<div class="tab-pane active" id="desc">
														<p>{{ product_detail.description | safe }}</p>
														<!-- <ul class="angle-right">
															<li></li>
														</ul> -->
													</div>
													<div class="tab-pane fade " id="review">
														<div id="customer_review">
															<div class="preview_content">
																<div id="shopify-product-reviews" data-id="6537875078">
																	<div class="spr-container">
																		<div class="spr-header">
																			<h2 class="spr-header-title">Customer Reviews</h2>
																			<div class="spr-summary" itemscope="" itemtype="http://data-vocabulary.org/Review-aggregate">
																				<meta itemprop="itemreviewed" content="Chanel, the cheetah">
																				<meta itemprop="votes" content="1">
																				<span itemprop="rating" itemscope="" itemtype="http://data-vocabulary.org/Rating" class="spr-starrating spr-summary-starrating">
																					<meta itemprop="average" content="5.0">
																					<meta itemprop="best" content="5">
																					<meta itemprop="worst" content="1">
																					<i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i>
																				</span>
																				<span class="spr-summary-caption">
																					<span class="spr-summary-actions-togglereviews">Based on 1 review</span>
																				</span>
																				<span class="spr-summary-actions">
																					<a href="#" class="spr-summary-actions-newreview" onclick="active_review_form();return false">Write a review</a>
																				</span>
																			</div>
																		</div>
																		<div class="spr-content">
																			<div class="spr-form" id="form_6537875078" style="display: none;">
																				<form method="post" action="http://demo.themeforshop.com/html_fastfood/product.html" id="new-review-form_6537875078" class="new-review-form" onsubmit="SPR.submitForm(this);return false;"><input type="hidden" name="review[rating]"><input type="hidden" name="product_id" value="6537875078">
																					<h3 class="spr-form-title">Write a review</h3>
																					<fieldset class="spr-form-contact">
																						<div class="spr-form-contact-name">
																							<label class="spr-form-label" for="review_author_6537875078">Name</label>
																							<input class="spr-form-input spr-form-input-text " id="review_author_6537875078" type="text" name="review[author]" value="" placeholder="Enter your name">
																						</div>
																						<div class="spr-form-contact-email">
																							<label class="spr-form-label" for="review_email_6537875078">Email</label>
																							<input class="spr-form-input spr-form-input-email " id="review_email_6537875078" type="email" name="review[email]" value="" placeholder="john.smith@example.com">
																						</div>
																					</fieldset>
																					<fieldset class="spr-form-review">
																						<div class="spr-form-review-rating">
																							<label class="spr-form-label">Rating</label>
																							<div class="spr-form-input spr-starrating ">
																								<a href="#" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="1">&nbsp;</a>
																								<a href="#" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="2">&nbsp;</a>
																								<a href="#" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="3">&nbsp;</a>
																								<a href="#" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="4">&nbsp;</a>
																								<a href="#" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="5">&nbsp;</a>
																							</div>
																						</div>
																						<div class="spr-form-review-title">
																							<label class="spr-form-label" for="review_title_6537875078">Review Title</label>
																							<input class="spr-form-input spr-form-input-text " id="review_title_6537875078" type="text" name="review[title]" value="" placeholder="Give your review a title">
																						</div>
																						<div class="spr-form-review-body">
																							<label class="spr-form-label" for="review_body_6537875078">Body of Review <span class="spr-form-review-body-charactersremaining">(1500)</span></label>
																							<div class="spr-form-input">
																								<textarea class="spr-form-input spr-form-input-textarea " id="review_body_6537875078" data-product-id="6537875078" name="review[body]" rows="10" placeholder="Write your comments here"></textarea>

																							</div>
																						</div>
																					</fieldset>
																					<fieldset class="spr-form-actions">
																						<input type="submit" class="spr-button spr-button-primary button button-primary btn btn-primary" value="Submit Review">
																					</fieldset>
																				</form>
																			</div>
																			<div class="spr-reviews" id="reviews_6537875078">
																				<div class="spr-review" id="spr-review-7003642">
																					<div class="spr-review-header">
																						<span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
																						<h3 class="spr-review-header-title">FRENCH CONNECTION, SUNDAY BLISS BAG</h3>
																						<span class="spr-review-header-byline"><strong>Jin Alkaid</strong> on <strong>Jun 10, 2017</strong></span>
																					</div>
																					<div class="spr-review-content">
																						<p class="spr-review-content-body">FRENCH CONNECTION, SUNDAY BLISS BAG</p>
																					</div>
																					<div class="spr-review-footer">
																						<a href="#" class="spr-review-reportreview" onclick="SPR.reportReview(7003642);return false" id="report_7003642" data-msg="This review has been reported">Report as Inappropriate</a>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane fade " id="shipping">
														<div class="shipping-item">
															<p class="item-title">Returns Policy</p>
															<p class="item-desc">
																Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
																<br> Version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
															</p>
														</div>
														<div class="shipping-item">
															<p class="item-title">Shipping</p>
															<p class="item-desc">
																Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
															</p>
														</div>
													</div>
													<div class="tab-pane fade " id="payment">
														Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
													</div>
												</div>
											</div>
										</div>

										<!-- Related products -->

									</div>
								</div>

								<!-- Left Sidebar -->
  								{% include 'products/left_sidebar.html' %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</div>

{# page javascript #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.elevatezoom.min.js' %}"></script>
<script type="text/javascript">

	$(document).ready(function($) {
		// $('.zoom-img').elevateZoom();
		// //pass the images to Fancybox
		// $('.zoom-img').bind('click', function(e) {
		// 	var ez = $('.zoom-img').data('elevateZoom');
		// 	$.fancybox(ez.getGalleryList());
		// 	return false;
		// });

		$('#gallery-images div.image').on('click', function() {
			var $this = $(this);
			var parent = $this.parents('#gallery-images');
			parent.find('.image').removeClass('active');
			$this.addClass('active');
		});
	});

	function active_review_form()
	{
		if($("#form_6537875078").attr('style') == 'display: none;') {
			$("#form_6537875078").css('display','block');
		} else {
			$("#form_6537875078").css('display','none');
		}
	}

	function maxQtyCheck(item)
	{
		var qty = parseInt(item.val());
		var max_qty = parseInt($('#max-quantity').val());

		if (qty > max_qty)
		{
			alert('Sorry, limit exceeded!');
			item.val(max_qty);
		}
	}

	function addToCart(item)
	{
        var user_id = item.find('#user_id').val();
        var product_id = item.find('#product_id').val();
        var quantity = item.find('#quantity').val();
        var url = "{% url 'products:addToCart' %}";

        var data = {
        	user_id: user_id,
        	product_id: product_id,
        	quantity: quantity,
        	csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        // console.log(data);

		$.post(url, data, function(response) {
			console.log(response);
		});
    }

</script>

{% endblock %}
