{% extends "base.html" %}
{% load static %}

{% block title %}
	{{ page_title | title }}
{% endblock %}

{% block body %}
<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<div class="breadcrumb clearfix">
										<span>
											<a href="{% url 'home' %}" title="{{ mother_title | title }}"><span><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span>
											<a title="{{ page_title | title }}"><span>{{ page_title | title }}</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="page-content">
				<div class="page-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-inner">
								<div id="shopify-section-about-template" class="shopify-section">
									<div class="about-content">
										<div class="introduction_layout">
											<div class="introduction_inner">
												<div class="page_title">
													<h2 class="title">
														<span class="first">About</span>
														<span class="last"> {{ mother_title | title }}</span>
													</h2>
													{% if cis %}
													<p class="caption">{{ cis.first.aboutFirst | safe }}</p>
													{% endif %}
												</div>
												{% if cis %}
												<div class="introduction_content">
													<img src="{{ cis.first.images.url }}" alt="Dynamic">
													<div class="introduction_description">
														<p class="italics">{{ cis.first.aboutScond | safe }}</p>
													</div>
												</div>
												{% endif %}
											</div>
										</div>
										<div class="team_layout">
											<div class="page_title">
												<h2 class="title">
													<span class="first">Our</span>
													<span class="last"> {{ mother_title | title }}</span>
													<span class="first"> Team</span>
												</h2>
											</div>
											<div class="team_inner">
												<div class="team_content">
													{% if oats %}
													{% for oat in oats %}
													<div class="team_item col-sm-4">
														<div class="item_avatar">
															<img src="{{ oat.images.url }}" alt="">
														</div>
														<div class="item_content">
															<p class="item_name">{{ oat.name }}</p>
															<p class="item_position">{{ oat.designation }}</p>
															<p class="item_description">{{ oat.bioAP }}</p>
														</div>
													</div>
													{% endfor %}
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
{% endblock %}
