{% load static %}
<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <title>
        {% block title %}

        {% endblock %}
      </title>

      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Playball:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Bitter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
      <!-- Bootstrap Dropdown Hover CSS -->
      <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/bootstrap-dropdownhover.min.css' %}" rel="stylesheet">
      <!-- End Of Bootstrap Dropdown Hover CSS -->
      <link href="{% static 'css/fonts.googleapis.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/icon-font.min.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/social-buttons.scss.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/cs.styles.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/font-icon.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/cs.animate.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/slideshow-fade.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/animations.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/themepunch.revolution.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/jquery.fancybox.scss.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'css/spr.css' %}" rel="stylesheet" type="text/css" media="all">

      <script type="text/javascript">

          function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }

          function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
              var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
              return v.toString(16);
            });
          }

          let device = getCookie('device')

          if (device == null || device == undefined){
              device = uuidv4()
          }

          document.cookie ='device=' + device + ";domain=;max-age=31536000;path=/"

      </script>

    </head>

    {% if home_title == 'house of faith' %}
      <body class="index-template fastfood_1">
    {% else %}
      <body class="fastfood_1">
    {% endif %}

    <!-- Navbar -->
    {% include 'navbar.html' %}

    <div class="fix-sticky"></div>

    {% block body %}

    {% endblock %}

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Modals -->
    {% include 'modals.html' %}

    <!-- Float right icon -->
    <div class="float-right-icon">
      <ul>
        <li>
          <div id="scroll-to-top" data-toggle="" data-placement="left" title="Scroll to Top" class="off">
            <i class="fa fa-angle-up"></i>
          </div>
        </li>
      </ul>
    </div>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap Dropdown Hover JS -->
    <script type="text/javascript" src="{% static 'js/bootstrap-dropdownhover.min.js' %}"></script>
    <!-- End Of Bootstrap Dropdown Hover JS -->
    <script type="text/javascript" src="{% static 'js/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/application-appear.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cs.script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.currencies.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.zoom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/linkOptionSelectors.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/social-buttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.gmap.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSxX2Un4CjYcWVyA3FOjBNcrVC1hlervk"></script>
  </body>
</html>
