{% extends "base.html" %}
{% load static %}

{% block title %}
	{{ page_title | title }}
{% endblock %}

{% block body %}
<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">

			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<div class="breadcrumb clearfix">
										<span>
											<a href="{% url 'home' %}" title="{{ mother_title | title }}"><span><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span>
											<a title="{{ page_title | title }}"><span>{{ page_title }}</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="page-content">
				<div class="page-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-inner">
								<div id="shopify-section-contact-template" class="shopify-section">
									<div class="contact-content">

										<div class="google-maps-content ">
											<div class="google-maps-wrapper">
												<div class="page_title">
													<h2 class="title">
														<span class="first">Contact</span>
														<span class="last"> Us</span>
													</h2>
													{% if cis %}
													<p class="caption">{{ cis.first.about_Contact_Page }}</p>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="information_layout">
											<div class="information_inner">
												<div class="information_content">
													<div class="information_item col-sm-4">
														<div class="page_title text_title">
															<h2 class="title">Hours</h2>
														</div>
														<div class="text_content">
															<ul>
																{% for sot in sots %}
																<li>
																	<div class="group_text">
																		{% if forloop.counter == 1 %}
																		<span class="day">{{ sot.day | slice:3 }} – {{ sot.sameday | slice:3 }}</span>
																		<span class="time">{{ sot.opentime }} - {{ sot.closetime }}</span>
																		{% elif forloop.counter == 2 or forloop.counter == 3 %}
																		<span class="day">{{ sot.day }}</span>
																		<span class="time">{{ sot.opentime }} - {{ sot.closetime }}</span>
																		{% else %}
																		<span class="day">{{ sot.day }}</span>
																    	<span class="time">{{ sot.opentime }} - {{ sot.closetime }}</span>
																		{% endif %}
																	</div>
																</li>
																{% endfor %}
															</ul>
														</div>
													</div>
													<div class="information_item col-sm-4">
														<div class="page_title text_title">
															<h2 class="title">Contact info</h2>
														</div>
														{% if cis %}
														<div class="text_content">
															<div class="group_contact_info">
																<div class="item">
																	<span>
																		<i class="fa fa-home"></i>
																		<address>{{ cis.first.address }}</address>
																	</span>
																</div>
																<div class="item">
																	<span>
																		<i class="fa fa-phone"></i>
																		{{ cis.first.phone }}
																	</span>
																</div>
																<div class="item">
																	<span>
																		<i class="fa fa-envelope-o"></i>
																		{{ cis.first.email }}
																	</span>
																</div>
															</div>
														</div>
														{% endif %}
													</div>
													<div class="information_item col-sm-4">
														<div class="page_title form_title">
															<h2 class="title">Write us a message</h2>
														</div>
														<div class="form_content">
															<form method="post" action="#" id="contact_form" class="contact-form" accept-charset="UTF-8">
																<div id="contactFormWrapper" class="group_form">
																	<div class="col-md-6">
																		<div class="form-item">
																			<input type="text" id="contactFormName" name="contact[name]" placeholder="Username">
																		</div>
																	</div>
																	<div class="col-md-6">
																		<div class="form-item">
																			<input type="email" id="contactFormEmail" name="contact[email]" placeholder="Email">
																		</div>
																	</div>
																	<div class="col-md-12">
																		<div class="form-item">
																			<textarea rows="15" cols="75" id="contactFormMessage" name="contact[body]" placeholder="Your message"></textarea>
																		</div>
																	</div>
																	<div class="col-md-12">
																		<div class="form-item">
																			<input type="submit" id="contactFormSubmit" value="Send" class="_btn">
																		</div>
																	</div>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>

{% endblock %}
