{% extends "base.html" %}
{% load static %}

{% block title %}
	{{ page_title | title }}
{% endblock %}

{% block body %}
<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<div class="breadcrumb clearfix">
										<span>
											<a href="{% url 'home' %}" title="{{ mother_title | title }}"><span><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span>
											<a title="{{ page_title | title }}"><span>{{ page_title | title }}</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="page-content">
				<div class="page-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-inner">
								<div id="shopify-section-faq-template" class="shopify-section">
									<div class="faqs-content">
										<div class="questions-layout">
											<div class="questions-inner">
												<h2 class="faqs-title">Prequently asked questions</h2>
												<div class="accordions-content">
													<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
														{% if faqs %}
														{% for faq in faqs %}
														<div class="panel panel-default">
															{% if forloop.counter == 1 %}
															<div class="panel-heading active" role="tab" id="tab_heading{{ forloop.counter }}">
															{% else %}
															<div class="panel-heading" role="tab" id="tab_heading{{ forloop.counter }}">
															{% endif %}
																<h4 class="panel-title">
																	<a data-toggle="collapse" data-parent="#accordion" href="#tab_collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="tab_collapse{{ forloop.counter }}">
																		{% if forloop.counter == 1 %}
																		<span class="cs-icon icon-minus"></span>
																		{% else %}
																		<span class="cs-icon icon-plus"></span>
																		{% endif %}
																		{{ forloop.counter }}. {{ faq.questions }}
																	</a>
																</h4>
															</div>
															{% if forloop.counter == 1 %}
															<div id="tab_collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tab_heading{{ forloop.counter }}">
															{% else %}
															<div id="tab_collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tab_heading{{ forloop.counter }}">
															{% endif %}
																<div class="panel-body">
																	{{ faq.answers | safe }}
																</div>
															</div>
														</div>
														{% endfor %}
														{% endif %}
													</div>
												</div>
											</div>
										</div>
										<div class="contact-layout">
											<div class="contact-inner">
												<h2 class="faqs-title">Still have questions? Contact us leave a comment</h2>
												<div class="contact-content">
													<form method="post" action="#" id="contact_form" class="contact-form" accept-charset="UTF-8">
														<div id="contactFormWrapper">
															<div class="col-md-6">
																<div class="form-item">
																	<label>Username</label>
																	<input type="text" id="contactFormName" name="contact[name]">
																</div>
																<div class="form-item">
																	<label>Email</label>
																	<input type="email" id="contactFormEmail" name="contact[email]" placeholder="">
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-item">
																	<label>Your message</label>
																	<textarea rows="15" cols="75" id="contactFormMessage" name="contact[body]" placeholder=""></textarea>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-item">
																	<input type="submit" id="contactFormSubmit" value="Send" class="_btn">
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>

	<script>
		$(function($) {
			var $active = $('#accordion .panel-collapse.in').prev().addClass('active');
			$active.find('a').prepend('<span class="cs-icon icon-minus"></span>');
			$('#accordion .panel-heading').not($active).find('a').prepend('<span class="cs-icon icon-plus"></span>');
			$('#accordion').on('show.bs.collapse', function(e) {
				$('#accordion .panel-heading.active').removeClass('active').find('.cs-icon').toggleClass('icon-minus icon-plus');
				$(e.target).prev().addClass('active').find('.cs-icon').toggleClass('icon-plus icon-minus');
			})
		});
	</script>

{% endblock %}
