{% load static %}

<footer class="footer">
  <div id="shopify-section-theme-footer" class="shopify-section">
    <section class="footer-information-block clearfix"> <!-- style="background-image:  url(/static/images/bg_footer.png);" -->
      <div class="container">
        <div class="row">
          <div class="footer-information-inner">
            <div class="footer-information-content">
              <div class="information-item col-sm-4 not-animated" data-animate="fadeInUp" data-delay="100">
                <div class="about-content">
                  <div class="logo-footer">
                    <img src="{% static "images/HouseOfFaith.png" %}" style="height: 90px; margin-top: 30px;" alt="House Of Faith"/>
                  </div>
                  {% if cis %}
                  <!-- <div class="about-caption">
                    {{ cis.first.aboutFirst | safe | truncatewords:10 }}
                  </div> -->
                  {% endif %}
                  {% if cis %}
                  <div class="about-contact">
                    <div class="item">
                      <span class="cs-icon icon-marker"></span>
                      <address>{{ cis.first.address }}</address>
                    </div>
                    <div class="item">
                      <span class="cs-icon icon-phone"></span>
                      {{ cis.first.phone }}
                    </div>
                    <div class="item">
                      <span class="cs-icon icon-mail"></span>
                      {{ cis.first.email }}
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>

              <div class="blog-group col-sm-4 not-animated" data-animate="fadeInUp" data-delay="200">
                <h5 class="footer-title">New Products</h5>
                <div class="blog-content">
                  {% for product in latest_products %}
                    {% if product.status == True %}
                    {% if forloop.counter <= 3  %}
                    <div class="blogs-item">
                      <div class="blogs-left">
                        <a class="blogs-img" href="{% url 'products:productDetailView' product.slug %}">
                          <img src="{{ product.product_image.first.image_path }}" alt="{{ product.title }}" />
                        </a>
                      </div>
                      <div class="blogs-right">
                        <a href="{% url 'products:productDetailView' product.slug %}" class="blogs-title clearfix">{{ product.title }}</a>
                      </div>
                    </div>
                    {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="social-payment-item col-sm-4 not-animated" data-animate="fadeInUp" data-delay="300">
                <h5 class="footer-title">Follow Us</h5>
                <div class="social-content">
                  <div class="social-caption">
                    <a href="https://www.facebook.com/houseoffaithbd/" class="icon-social facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/HouseOfFaith9/" class="icon-social twitter"><i class="fa fa-twitter"></i></a>
                    {# <a href="https://plus.google.com/+shopify" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a> #}
                    <a href="https://www.linkedin.com/in/house-of-faith-483b331b7/" class="icon-social pinterest"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/houseoffaith20/" class="icon-social instagram"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCw3T3GLoi8a_H8syT_wKjFg/" class="icon-social youtube"><i class="fa fa-youtube"></i></a>
                  </div>
                </div>
                <div class="payment-content ">
                  <h5 class="footer-title">Payment Methods</h5>
                  <div class="payment-caption">
                    <img src="{% static "images/bKash.png" %}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="copy-right clearfix">
      <div class="copy-right-wrapper">
        <div class="copy-right-inner">
          <div class="footer_links">
            <ul>
              {% if user.is_authenticated %}
              <li><a href="{% url 'home' %}" title="Home">Home</a></li>
              <li><a href="{% url 'aboutView' %}" title="About Us">About Us</a></li>
              <li><a href="{% url 'faqView' %}" title="Faq">Faq</a></li>
              <li><a href="{% url 'contactView' %}" title="Contact">Contact</a></li>

              {% for category in categories %}
                {% for sub_category in category.product_sub_category.all %}
                  {% if forloop.counter <= 3 %}
                    <li>
                      <a href="{% url 'products:productView' category.slug sub_category.slug %}" title="{{ sub_category.name }}">{{ sub_category.name }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}

              {% for category in categories %}
                {% for sub_category in category.product_sub_category.all %}
                  {% for s_s_category in sub_category.product_sub_sub_category.all %}
                  {% if forloop.counter <= 3 %}
                    <li>
                      <a href="{% url 'products:productView' category.slug sub_category.slug s_s_category.slug %}" title="{{ s_s_category.name }}">{{ s_s_category.name }}</a>
                    </li>
                  {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endfor %}

              {% else %}
              <li><a href="{% url 'home' %}" title="{{ mother_title | title }}">Home</a></li>
              <li><a href="{% url 'aboutView' %}" title="About Us">About Us</a></li>
              <li><a href="{% url 'faqView' %}" title="Faq">Faq</a></li>
              <li><a href="{% url 'contactView' %}" title="Contact Us">Contact Us</a></li>

              {% for category in categories %}
                {% for sub_category in category.product_sub_category.all %}
                  {% if forloop.counter <= 3 %}
                    <li>
                      <a href="{% url 'products:productView' category.slug sub_category.slug %}" title="{{ sub_category.name }}">{{ sub_category.name }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}

              {% for category in categories %}
                {% for sub_category in category.product_sub_category.all %}
                  {% for s_s_category in sub_category.product_sub_sub_category.all %}
                  {% if forloop.counter <= 3 %}
                    <li>
                      <a href="{% url 'products:productView' category.slug sub_category.slug s_s_category.slug %}" title="{{ s_s_category.name }}">{{ s_s_category.name }}</a>
                    </li>
                  {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endfor %}

              <li><a href="{% url 'accounts:loginView' %}" title="Login">Login</a></li>
              <li><a href="{% url 'accounts:signup' %}" title="Register">Register</a></li>
              {% endif %}
            </ul>
          </div>
          <div class="footer_copyright">Copyright &copy; 2020 <a href="" title="{{ mother_title | title }}">{{ mother_title | title }}</a>. All Rights Reserved</div>
        </div>
      </div>
    </section>
  </div>
</footer>
