{% extends "base.html" %}
{% load static %}

{% block title %}
	{{ home_title | title }}
{% endblock %}

{% block body %}
<!-- Main Content -->
<div class="page-container" id="PageContainer">
	<main class="main-content" id="MainContent" role="main">

		<!-- BEGIN content_for_index -->
		<!-- Default Slide (Dynamic)-->
		<div id="shopify-section-1507179171162" class="shopify-section index-section index-section-slideshow">
			<div data-section-id="1507179171162" data-section-type="slideshow-section">
				<section class="home-slideshow-layout">
					<div class="home-slideshow-wrapper">
						<div class="group-home-slideshow">
							<div class="home-slideshow-inner">
								<div class="home-slideshow-content slideshow_1507179171162">
									<ul>
										{% for slider in d_slides %}
										<li data-transition="random-static" data-masterspeed="2000" data-saveperformance="on">
											<img src="{{ slider.image.url }}" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
											{% if forloop.counter == 1 or forloop.counter == 2 %}
											<div class="slideshow-caption position-left transition-fade">
												<div class="group">
													<a href="{{ slider.url }}">
														<img src="{{ slider.PNG.url }}" alt=""/>
													</a>
													<a class="_btn" href="{{ slider.url }}">Buy now</a>
												</div>
											</div>
											{% else %}
											<div class="slideshow-caption position-middle transition-fade">
												<div class="group">
													<a href="{{ slider.url }}">
														<img src="{{ slider.PNG.url }}" alt=""/>
													</a>
													<a class="_btn" href="{{ slider.url }}">Find out more!</a>
												</div>
											</div>
											{% endif %}
										</li>
										{% endfor %}
									</ul>
									<div class="tp-bannertimer"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

		<!-- Carousel Slide (Dynamic)-->
		<div id="shopify-section-1509012157667" class="shopify-section index-section index-section-banner">
			<div data-section-id="1509012157667" data-section-type="banner-section">
				<section class="home-banslider-layout">
					<div class="container">
						<div class="row">
							<div class="home-banslider-inner">
								<div class="home-banslider-content">
									{% for slider in c_slides %}
									<div class="banslider-item not-animated" data-animate="zoomIn" data-delay="100">
										<a href="{{ slider.url }}">
											<img src="{{ slider.image.url }}" alt="" title="">
										</a>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div id="shopify-section-1509012338884" class="shopify-section index-section index-section-welcome">
			<div data-section-id="1509012338884" data-section-type="welcome-section">
				<section class="home-welcome-layout not-animated" data-animate="zoomIn" data-delay="200">
					<div class="container">
						<div class="row">
							{% if home %}
							<div class="home-welcome-inner">
								<h2 class="page-title">{{ home.first.welcome_Message }}</h2>
								<div class="home-welcome-content">
									<span class="welcome-caption">{{ home.first.aboutCompany | safe }}</span>
									<img class="welcome-banner" src="{{ home.first.image_One.url }}" alt="" title="">
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</section>
			</div>
		</div>

		<!-- Categorical Products (Dynamic)-->
		{% for category in product_categories %}
		<div class="shopify-section index-section index-section-product">
			<div data-section-id="1509012370397" data-section-type="product-section">
				<section class="home-product-layout">
					<div class="container">
						<div class="row">
							<div class="banner-product-title not-animated" data-animate="fadeInUp" data-delay="200" style="background-image:  url({{ category.categoryImage.url }});">
								<div class="title-content">
									<h2>{{ category.name }}</h2>
								</div>
							</div>
							<div class="home-product-inner">
								<div class="home-product-content">
									{% for product in category.category_product.all %}
									{% if product.status == True %}
									{% if forloop.counter <= 16 %}
									<div class="content_product col-sm-3 not-animated" data-animate="fadeInUp" data-delay="100">
										<div class="row-container product list-unstyled clearfix product-circle">
											<div class="row-left">
												<a href="{% url 'products:productDetailView' product.slug %}" class="hoverBorder container_item">
													<div class="hoverBorderWrapper">
														<img src="{{ product.product_image.first.image_path }}" class="img-responsive front" alt="">
														<div class="mask"></div>
													</div>
												</a>
												<div class="hover-mask">
													<div class="group-mask">
														<div class="inner-mask">
															<div class="group-actionbutton">
																<ul class="quickview-wishlist-wrapper">
																	<li class="wishlist">
																		<a title="Add To Wishlist" onclick="addToWishlist($(this), '{{ product.slug }}');"><span class="cs-icon icon-heart"></span></a>
																	</li>
																	<li class="quickview hidden-xs hidden-sm">
																		<div class="product-ajax-cart">
																			<span class="overlay_mask"></span>
																			<div data-handle="coke" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
																				<a onclick="getProduct($(this), '{{ product.slug }}');"><span class="cs-icon icon-eye"></span></a>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
															<form action="javascript:void(0);" method="post" onsubmit="addToCart($(this))">
																<div class="effect-ajax-cart">
																	<input type="hidden" value="{% if user.is_authenticated %} {{ user.id }} {% endif %}" id="user_id">
																	<input type="hidden" value="{{ product.id }}" id="product_id">
																	<input type="hidden" value="1" id="quantity">
																	<button class="_btn add-to-cart" data-parent=".parent-fly" type="submit" name="add" title="Add To Cart"><span class="cs-icon icon-cart"></span>Add to cart</button>
																</div>
															</form>
														</div>
														<!--inner-mask-->
													</div>
													<!--Group mask-->
												</div>
												{% if product.product_offer %}
												{% for product_offer in product.product_offer.all %}
												<div class="product-label">
													<div class="label-element deal-label">
														<span>{{ product_offer.product_offer.firstWord }}</span>
													</div>
													<div class="label-element hotting-label">
														<span>{{ product_offer.amount | floatformat }}%</span>
													</div>
												</div>
												{% endfor %}
												{% endif %}
											</div>
											<div class="row-right animMix">
												<div class="rating-star">
													<span class="spr-badge" data-rating="5.0">
														<span class="spr-starrating spr-badge-starrating">
															<i class="spr-icon spr-icon-star" style=""></i>
															<i class="spr-icon spr-icon-star" style=""></i>
															<i class="spr-icon spr-icon-star" style=""></i>
															<i class="spr-icon spr-icon-star" style=""></i>
															<i class="spr-icon spr-icon-star" style=""></i>
														</span>
														<span class="spr-badge-caption">1 review</span>
													</span>
												</div>
												<div class="product-title"><a class="title-5" href="{% url 'products:productDetailView' product.slug %}">{{ product.title }}</a></div>
												<div class="product-price">
													{% if product.product_offer.all %}
													<span class="price_sale">
														<span class="money" data-currency-usd="{{ product.stock_product.first.after_offer_unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.after_offer_unit_price }}</span>
													</span>
													<del class="price_compare">
														<span class="money" data-currency-usd="{{ product.stock_product.first.unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.unit_price }}</span>
													</del>
													{% else %}
													<span class="price_sale">
														<span class="money" data-currency-usd="{{ product.stock_product.first.unit_price }}" data-currency="BDT">৳ {{ product.stock_product.first.unit_price }}</span>
													</span>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
									{% endif %}
									{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		{% endfor %}

		<div id="shopify-section-1509012518613" class="shopify-section  index-section index-section-banner">
			<div data-section-id="1509012518613" data-section-type="banner-section">
				<section class="home-banner-layout not-animated" data-animate="zoomIn" data-delay="200">
					<div class="container">
						<div class="row">
							<div class="home-banner-inner">
								<div class="home-banner-content">
									{% if home %}
									<a class="banner-image" href="{{ home.first.url }}">
										<img src="{{ home.first.image_Two.url }}">
									</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">

	function addToWishlist(item, product_slug) {
		var url = "{% url 'products:addToWishlist' %}";

        var data = {
            product_slug: product_slug,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }

        // console.log(data);

        $.post(url, data, function(response) {
            // var product = JSON.parse(response);
            // console.log(product);

            // load modal data
            $('#modal-wishlist-body').html(response);

            // show modal
            $('#modal-wishlist').modal('show');
        });
	}

	function getProduct(item, product_slug)
	{
		var url = "{% url 'products:getProduct' %}";

        var data = {
            product_slug: product_slug,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }

        // console.log(data);

        $.post(url, data, function(response) {
            // var product = JSON.parse(response);
            // console.log(product);

            // load modal data
            $('#quick-shop-modal-body').html(response);

            // show modal
            $('#quick-shop-modal').modal('show');
        });
	}

	function maxQtyCheck(item)
	{
		var qty = parseInt(item.val());
		var max_qty = parseInt($('#max-quantity').val());

		if (qty > max_qty)
		{
			alert('Sorry, limit exceeded!');
			item.val(max_qty);
		}
	}

	function addToCart(item)
	{
        var user_id = item.find('#user_id').val();
        var product_id = item.find('#product_id').val();
        var quantity = item.find('#quantity').val();
        var url = "{% url 'products:addToCart' %}";

        var data = {
        	user_id: user_id,
        	product_id: product_id,
        	quantity: quantity,
        	csrfmiddlewaretoken: '{{ csrf_token }}'
        }

		$.post(url, data, function(response) {
			console.log(response);
		});
    }

</script>

{% endblock %}
