{% load static %}

<!-- Modal QuickView -->
<div id="quick-shop-modal" class="modal quick-shop" role="dialog" aria-hidden="true" tabindex="-1" data-width="800" style="display: none;">
  <div class="modal-dialog fadeIn animated">
    <div class="modal-content">
      <div class="modal-header">
        <i class="close lnr lnr-cross btooltip" data-toggle="tooltip" data-placement="top" title="" data-dismiss="modal" aria-hidden="true" data-original-title="Close"></i>
      </div>
      <div class="modal-body" id="quick-shop-modal-body">
        
      </div>
    </div>
  </div>
</div>

<!-- Modal WishList -->
<div class="wishlist-model">
  <div class="modal fade" id="modal-wishlist" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog white-modal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="cs-icon icon-close"></span>
          </button>
        </div>
        <div class="modal-body" id="modal-wishlist-body">

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Search-->
<div class="modal fade" id="lightbox-search" tabindex="-1" role="dialog" aria-labelledby="lightbox-search" aria-hidden="true" style="display: none;">
  <div class="modal-dialog animated" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="cs-icon icon-close"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Search something</h4>
      </div>
      <div class="modal-body">
        <div id="search-info">
          <form class="search" action="#" style="position: relative;">
            <input type="hidden" name="type" value="product">
            <input type="text" name="q" class="search_box" placeholder="search our store" value="" autocomplete="off">
            <span class="search-clear cs-icon icon-close" style="display: none;"></span>
            <button class="search-submit" type="submit">
              <span class="cs-icon icon-search"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
