{% load static %}
<header id="top" class="header clearfix">
  <div id="shopify-section-theme-header" class="shopify-section">
    <div data-section-id="theme-header" data-section-type="header-section">
      <section class="main-header">
        <div class="main-header-wrapper">
          <div class="container clearfix">
            <div class="row">
              <div class="main-header-inner">
                <div class="nav-logo">
                  <a href="{% url 'home' %}"><img src="{% static 'images/HouseOfFaith.png' %}" alt="logo" title="{{ mother_title | title }}" width="150" height="100" /></a>
                </div>
                <div class="nav-top">
                  <div class="nav-menu">
                    <ul class="navigation-links">
                      <li class="nav-item dropdown navigation">
                        <a href="javascript:void(0)" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
                          <span>All Categories</span>
                          {% if menus|length >= 1 %}
                          <i class="fa fa-angle-down"></i>
                          <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                          <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                          {% endif %}
                        </a>
                        {% if menus|length >= 1 %}
                        <ul class="dropdown-menu">
                          {% for menu in menus %}
                          {% if forloop.counter >= 1 %}
                          <li class="li-sub-mega dropdown">
                            <a tabindex="-1" href="{% url 'products:productView' menu.slug %}">{{ menu.name }}</a>
                            {% if menu.product_sub_category.all %}
                            <ul class="dropdown-menu">
                              {% for menu1 in menu.product_sub_category.all %}
                              <li class="li-sub-mega dropdown">
                                <a tabindex="-1" href="{% url 'products:productView' menu.slug menu1.slug %}">{{ menu1.name }}</a>
                                {% if menu1.product_sub_sub_category.all %}
                                <ul class="dropdown-menu">
                                  {% for menu2 in menu1.product_sub_sub_category.all %}
                                  <li class="li-sub-mega">
                                    <a tabindex="-1" href="{% url 'products:productView' menu.slug  menu1.slug menu2.slug %}">{{ menu2.name }}</a>
                                  </li>
                                  {% endfor %}
                                </ul>
                                {% endif %}
                              </li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                          </li>
                          {% endif %}
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% for menu in menus %}
                      {% if forloop.counter <= 7 %}
                      <li class="nav-item dropdown navigation">
                        <a href="{% url 'products:productView' menu.slug %}" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
                          <span>{{ menu.name }}</span>
                          {% if menu.product_sub_category.all %}
                          <i class="fa fa-angle-down"></i>
                          <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                          <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                          {% endif %}
                        </a>
                        {% if menu.product_sub_category.all %}
                        <ul class="dropdown-menu">
                          {% for menu1 in menu.product_sub_category.all %}
                          <li class="li-sub-mega dropdown">
                            <a tabindex="-1" href="{% url 'products:productView' menu.slug menu1.slug %}">{{ menu1.name }}</a>
                            {% if menu1.product_sub_sub_category.all %}
                            <ul class="dropdown-menu">
                              {% for menu2 in menu1.product_sub_sub_category.all %}
                              <li class="li-sub-mega">
                                <a tabindex="-1" href="{% url 'products:productView' menu.slug menu1.slug menu2.slug %}">{{ menu2.name }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% endif %}
                      {% endfor %}

                    </ul>
                  </div>
                  <div class="nav-icon">
                    <div class="m_search search-icon">
                      <a href="#" data-toggle="modal" data-target="#lightbox-search">
                        <i class="fa fa-search"></i>
                      </a>
                    </div>

                    <div class="icon_cart">
                      <div class="m_cart-group">
                        <a class="cart dropdown-toggle dropdown-link" data-toggle="dropdown">
                          <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                          <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                          <div class="num-items-in-cart">
                            <div class="items-cart">
                              <div class="num-items-in-cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="cart_text">
                                  <a href="{% url 'products:addToCart' %}">View Cart</a>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>

                    {% if user.is_authenticated %}
                    <div class="icon_accounts">
                          <div class="m_login-account">
                              <span class="dropdown-toggle login-icon" data-toggle="dropdown">
                                  <i class="fa fa-ellipsis-v"></i>
                                  <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                  <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                              </span>
                              <div class="m_dropdown-login dropdown-menu login-content">
                                  <div class="clearfix">
                                      <ul class="account-content">
                                          <li class="avata-item">
                                              <i class="fa fa-user" aria-hidden="true"></i>
                                              <p class="user-name">{{ user.email }}</p>
                                          </li>
                                          <li class="link-item"><a href="javascripts:void(0);"><i class="fa fa-user"></i>My Account</a></li>
                                          <li class="link-item"><a href="javascripts:void(0);"><i class="fa fa-shopping-cart"></i>My orders</a></li>
                                          <li class="link-item"><a href="javascripts:void(0);"><i class="fa fa-heart"></i>My Wishlist</a></li>
                                          <li class="link-item"><a href="javascripts:void(0);"><i class="fa fa-life-ring"></i>Support</a></li>
                                      </ul>
                                      <ul class="currencies currencies-content">
                                          <li class="link-item"><a href="{% url 'accounts:logout' %}">LOGOUT</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                    {% else %}
                    <div class="icon_accounts">
                      <div class="m_login-account">
                        <span class="dropdown-toggle login-icon" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-v"></i>
                          <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                          <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                        </span>
                        <div class="m_dropdown-login dropdown-menu login-content">
                          <div class="clearfix">
                            <div class="login-register-content">
                              <ul class="nav nav-tabs">
                                <li class="account-item-title active">
                                  <a href="#account-login" data-toggle="tab">
                                    Login
                                  </a>
                                </li>
                                <li class="account-item-title">
                                  <a href="#account-register" data-toggle="tab">
                                    Register
                                  </a>
                                </li>
                              </ul>
                              <div class="tab-content group_form">
                                <div class="tab-pane active account-item-content" id="account-login">
                                  <form action="{% url 'accounts:login' %}" method="post" id="customer_login" accept-charset="UTF-8">
                                    {% csrf_token %}
                                    <div class="clearfix large_form form-item">
                                      <input type="email" value="" name="username" class="form-control" placeholder="Email Address *" />
                                    </div>
                                    <div class="clearfix large_form form-password form-item">
                                      <input type="password" value="" name="password" class="form-control password" placeholder="Password *" />
                                      <span class="cs-icon icon-eye"></span>
                                    </div>
                                    <div class="action_bottom">
                                      <button type="submit" class="_btn">Login</button>
                                      <a href="javascripts:void(0);"><span class="red"></span> Forgot your password?</a>
                                    </div>
                                  </form>
                                </div>
                                <div class="tab-pane account-item-content " id="account-register">
                                  <form action="{% url 'accounts:signup' %}" method="post" id="create_customer" accept-charset="UTF-8">
                                    {% csrf_token %}
                                    <div class="clearfix large_form form-item">
                                      <input placeholder="First Name" type="text" value="" name="first_name" id="first_name" class="text" size="30" />
                                    </div>
                                    <div class="clearfix large_form form-item">
                                      <input placeholder="Last Name" type="text" value="" name="last_name" id="last_name" class="text" size="30" />
                                    </div>
                                    <div class="clearfix large_form form-item">
                                      <input placeholder="Email" type="email" value="" name="email" id="email" class="text" size="30" />
                                    </div>
                                    <div class="clearfix large_form form-password form-item">
                                      <input placeholder="Password" type="password" value="" name="password" id="password" class="password text" size="30" />
                                      <span class="cs-icon icon-eye"></span>
                                    </div>
                                    <div class="action_bottom">
                                      <button type="submit" class="_btn">Create</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <ul class="wish-compare-content">
                              <li class="link-item"><a href="javascript:void(0);">My Wishlist</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}

                  </div>
                </div>

                <div class="navMobile-navigation">
                  <div class="navMobile-logo">
                    <a href="index-2.html"><img class="header-logo-image" src="{% static "images/logo.png" %}" alt="" title="Fast Food" /></a>
                  </div>
                  <div class="group_mobile_right">
                    <div class="nav-icon">
                      <div class="m_search search-tablet-icon">
                        <span class="dropdownMobile-toggle search-dropdown">
                          <span class="icon-dropdown cs-icon icon-search" data-class="cs-icon icon-search"></span>
                          <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                          <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                        </span>
                        <div class="m_dropdown-search dropdown-menu search-content">
                          <form class="search" action="http://demo.themeforshop.com/html_fastfood/search.html">
                            <input type="hidden" name="type" value="product" />
                            <input type="text" name="q" class="search_box" placeholder="search our store" value="" />
                            <span class="search-clear cs-icon icon-close"></span>
                            <button class="search-submit" type="submit">
                              <span class="cs-icon icon-search"></span>
                            </button>
                          </form>
                        </div>
                      </div>
                      <div class="icon_cart">
                        <div class="m_cart-group">
                          <a class="cart dropdownMobile-toggle dropdown-link">
                            <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                            <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                            <div class="num-items-in-cart">
                              <div class="items-cart">
                                <div class="num-items-in-cart">
                                  <span class="cs-icon icon-bag"></span>
                                  <span class="cart_text">
                                    <span class="number">2</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="icon_accounts">
                        <div class="m_login-account">
                          <span class="dropdownMobile-toggle login-icon">
                            <i class="icon-dropdown cs-icon icon-ellipsis" data-class="cs-icon icon-ellipsis" aria-hidden="true"></i>
                            <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                            <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                          </span>
                          <div class="m_dropdown-login dropdown-menu login-content">
                            <div class="clearfix">
                              <div class="login-register-content">
                                <ul class="nav nav-tabs">
                                  <li class="account-item-title active">
                                    <a href="#account-login-mobile" data-toggle="tab">
                                      Login
                                    </a>
                                  </li>
                                  <li class="account-item-title">
                                    <a href="#account-register-mobile" data-toggle="tab">
                                      Register
                                    </a>
                                  </li>
                                </ul>
                                <div class="tab-content group_form">
                                  <div class="tab-pane active account-item-content" id="account-login-mobile">
                                    <form method="post" action="http://demo.themeforshop.com/html_fastfood/login.html" id="customer_login_mobile" accept-charset="UTF-8">
                                      <div class="clearfix large_form form-item">
                                        <input type="email" value="" name="customer[email]" class="form-control" placeholder="Email Address *" />
                                      </div>
                                      <div class="clearfix large_form form-password form-item">
                                        <input type="password" value="" name="customer[password]" class="form-control password" placeholder="Password *" />
                                        <span class="cs-icon icon-eye"></span>
                                      </div>
                                      <div class="action_bottom">
                                        <button class="_btn" type="submit">Login</button>
                                        <a href="login-recover.html"><span class="red"></span> Forgot your password?</a>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="tab-pane account-item-content " id="account-register-mobile">
                                    <form method="post" action="#" id="create_customer_mobile" accept-charset="UTF-8">
                                      <div class="clearfix large_form form-item">
                                        <input placeholder="First Name" type="text" value="" name="customer[first_name]" class="text" size="30" />
                                      </div>
                                      <div class="clearfix large_form form-item">
                                        <input placeholder="Last Name" type="text" value="" name="customer[last_name]" class="text" size="30" />
                                      </div>
                                      <div class="clearfix large_form form-item">
                                        <input placeholder="Email" type="email" value="" name="customer[email]" class="text" size="30" />
                                      </div>
                                      <div class="clearfix large_form form-password form-item">
                                        <input placeholder="Password" type="password" value="" name="customer[password]" class="password text" size="30" />
                                        <span class="cs-icon icon-eye"></span>
                                      </div>
                                      <div class="action_bottom">
                                        <button class="_btn" type="submit">Create</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <ul class="wish-compare-content">
                                <li class="link-item"><a href="wish-list.html">My Wishlist</a></li>
                                <li class="link-item"><a href="compare.html">My Compare</a></li>
                              </ul>
                              <ul class="currencies currencies-content">
                                <li class="currency-USD active">
                                  <a href="javascript:;">USD</a>
                                  <input type="hidden" value="USD" />
                                </li>
                                <li class="currency-GBP">
                                  <a href="javascript:;">GBP</a>
                                  <input type="hidden" value="GBP" />
                                </li>
                                <li class="currency-EUR">
                                  <a href="javascript:;">EUR</a>
                                  <input type="hidden" value="EUR" />
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="navMobile-menu">
                      <div class="group_navbtn">
                        <a href="javascript:void(0)" class="dropdown-toggle-navigation">
                          <span class="cs-icon icon-menu"></span>
                          <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                          <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                        </a>
                        <div class="navigation_dropdown_scroll dropdown-menu">
                          <ul class="navigation_links_mobile">
                            {% for menu in menus %}
                            {% if forloop.counter <= 4 %}
                            <li class="nav-item navigation navigation_mobile">
                              <a href="{% url 'products:productView' menu.slug %}" class="menu-mobile-link">{{ menu.name }}</a>
                              {% if menu.product_sub_category.all %}
                              <a href="javascript:void(0)" class="arrow_sub arrow">
                                <i class="arrow-plus"></i>
                              </a>
                              <ul class="menu-mobile-container" style="display: none;">
                                {% for menu1 in menu.product_sub_category.all %}
                                <li class="li-sub-mega">
                                  <a tabindex="-1" href="{% url 'products:productView' menu.slug menu1.slug %}" class="menu-mobile-link">{{ menu1.name }}</a>
                                  {% if menu1.product_sub_sub_category.all %}
                                  <a href="javascript:void(0)" class="arrow_sub arrow">
                                    <i class="arrow-plus"></i>
                                  </a>
                                  <ul class="menu-mobile-container" style="display: none;">
                                    {% for menu2 in menu1.product_sub_sub_category.all %}
                                    <li class="li-sub-mega">
                                      <a tabindex="-1" href="{% url 'products:productView' menu.slug menu1.slug menu2.slug %}">{{ menu2.name }}</a>
                                    </li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </li>
                                {% endfor %}
                              </ul>
                              {% endif %}
                            </li>
                            {% endif %}
                            {% endfor %}
                            <li class="nav-item navigation navigation_mobile">
                              <a href="#" class="menu-mobile-link">Others</a>
                              {% if menus|length > 4 %}
                              <a href="javascript:void(0)" class="arrow_sub arrow">
                                <i class="arrow-plus"></i>
                              </a>
                              <ul class="menu-mobile-container" style="display: none;">
                                {% for menu in menus %}
                                {% if forloop.counter > 4 %}
                                <li class="nav-item navigation navigation_mobile">
                                  <a href="{% url 'products:productView' menu.slug %}" class="menu-mobile-link">{{ menu.name }}</a>
                                  {% if menu.product_sub_category.all %}
                                  <a href="javascript:void(0)" class="arrow_sub arrow">
                                    <i class="arrow-plus"></i>
                                  </a>
                                  <ul class="menu-mobile-container" style="display: none;">
                                    {% for menu1 in menu.product_sub_category.all %}
                                    <li class="li-sub-mega">
                                      <a tabindex="-1" href="{% url 'products:productView' menu.slug menu1.slug %}" class="menu-mobile-link">{{ menu1.name }}</a>
                                      {% if menu1.product_sub_sub_category.all %}
                                      <a href="javascript:void(0)" class="arrow_sub arrow">
                                        <i class="arrow-plus"></i>
                                      </a>
                                      <ul class="menu-mobile-container" style="display: none;">
                                        {% for menu2 in menu1.product_sub_sub_category.all %}
                                        <li class="li-sub-mega">
                                          <a tabindex="-1" href="{% url 'products:productView' menu.slug menu1.slug menu2.slug %}">{{ menu2.name }}</a>
                                        </li>
                                        {% endfor %}
                                      </ul>
                                      {% endif %}
                                    </li>
                                    {% endfor %}
                                  </ul>
                                  {% endif %}
                                </li>
                                {% endif %}
                                {% endfor %}
                              </ul>
                              {% endif %}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script>
    function addaffix(scr) {
      if ($(window).innerWidth() >= 992) {
        if (scr > 153) {
          if (!$('#top').hasClass('affix')) {
            $('#top').addClass('affix').addClass('fadeInDown animated');
          }
        } else {
          if ($('#top').hasClass('affix')) {
            $('#top').removeClass('affix').removeClass('fadeInDown animated');
          }
        }
      } else if ($(window).innerWidth() < 992 && $(window).innerWidth() > 767) {
        if (scr > 95) {
          if (!$('#top').hasClass('affix')) {
            $('#top').addClass('affix').addClass('fadeInDown animated');
          }
        } else {
          if ($('#top').hasClass('affix')) {
            $('#top').removeClass('affix').removeClass('fadeInDown animated');
          }
        }
      } else {
        if (scr > 45) {
          if (!$('#top').hasClass('affix')) {
            $('#top').addClass('affix').addClass('');
          }
        } else {
          if ($('#top').hasClass('affix')) {
            $('#top').removeClass('affix').removeClass('');
          }
        }
      }
    }
    $(window).scroll(function() {
      "use strict";

      var scrollTop = $(this).scrollTop();
      addaffix(scrollTop);
    });
    $(window).resize(function() {
      "use strict";

      var scrollTop = $(this).scrollTop();
      addaffix(scrollTop);
    });
    </script>
  </div>
</header>
